* {
margin: 0;
padding: 0;
}

@font-face {
font-family: "League";
src: local("League"), url("../fonts/League-Gothic.otf") format("opentype");
}

@font-face {
font-family: "Titillium";
src: local("Titillium"), url("../fonts/titillium/TitilliumText1.otf") format("opentype");
}

img {
border: 0;
}

html {
height: 100%;
background: #373e48 url(../img/backgrounds/bg-texture.png) repeat 0 0;
}

body {
min-height: 100%;
font-size: 70%;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.6em;
color: #333;
}

#header-box,
#content-box,
#menu-box,
#footer-box {
width: 950px;
overflow: auto;
margin: 0 auto;
padding: 20px 0;
position: relative;
}

#content-box {
overflow: visible;
}

a:focus {
outline: none;
}

h1 {
font-size: 220%;
}

h2 {
font-size: 180%;
}

h3 {
font-size: 160%;
}

h4 {
font-size: 120%;
margin: 0 0 10px 0;
}

h5 {
font-size: 100%
}

/* ------------------------ header
--------------------------------*/

#header {
background: #373e48 url(img/header-shadow.png) repeat-x 0 bottom;
}

#header h1 {
font: 42px "League", Arial,sans-serif;
}

#header h1 a {
color: #fff;
text-decoration: none;
}

/* ------------------------ top-search
--------------------------------*/

#top-search {
position: absolute;
top: 10px;
right: 0;
}

#top-search input.searchbox {
width: 150px;
padding: 2px;
background: #fff;
vertical-align: middle;
}

#top-search .searchicon {
margin-left: -2px;
vertical-align: middle;
padding: 4px 6px;
background-color: #ccc;
border: 1px solid #999;

border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
}

/* ------------------------ menu
--------------------------------*/

#menu {
background: #666;
}

#menu-box {
padding: 0;
}

#menu-box ul {
overflow: auto;
}

#menu-box li {
list-style-type: none;
}

#menu-box li a {
color: #fff;
text-decoration: none;
font-size: 120%;
display: block;
float: left;
padding: 8px 4px;
margin: 0 2px 0;
}

/* ------------------------ content
--------------------------------*/

#content {
min-height: 300px;
}

#content h2 {
margin: 0 0 10px;
}

/* ------------------------ footer
--------------------------------*/

#footer-box {
border-top: 1px dotted #999;
}

#footer a {
color: #00aa88;
text-decoration: none;
}

#footer a:hover {
color: #333;
}

/* ------------------------ homepage
--------------------------------*/

#content #main a.box {
padding: 20px;
margin: 0 20px 10px 0;
width: 420px;
min-height: 60px;
float: left;
background: #fff;
text-decoration: none;
color: #00aa88;
display: block;
}

  #content #main a.right {
  margin-right: 0;
  }

#content #main a.box:hover {
color: #333;
border-color: #333;
}

#content #main a.box h2 {
margin-bottom: 10px;
padding-bottom: 5px;
border-bottom: 3px solid #00aa88;
}

#content #secondary h2 {
margin-bottom: 10px;
padding-bottom: 5px;
color: #333;
}

#content #secondary a {
color: #fff;
padding: 10px;
display: block;
background: #00aa88;
}

/* ------------------------ mp-list
--------------------------------*/

form#quicksearch {
position: absolute;
top: 10px;
right: 0;
padding: 6px 0 6px 10px;
}

form#quicksearch input[type="text"] {
width: 180px;
}

form#quicksearch #loader {
position: absolute;
top: 10px;
right: 18px;
z-index: 20;
}

ul.mp-filters {
background: #fff;
padding: 8px 5px;
margin-bottom: 5px;
overflow: auto;
border-top: 3px solid #00aa88;
}

ul.mp-filters li {
display: block;
float: left;
margin: 0 15px 0 0;
}

ul.mp-filters a {
display: block;
float: left;
text-decoration: none;
padding: 5px 3px;
margin: 0 2px;
}

ul.mp-list {
font-size: 120%;
margin: 0 25px 20px 0;
width: 300px;
float: left;
}

ul.last {
margin: 0 0 20px;
}

ul.mp-list li {
list-style-type: none;
display: block;
margin: 4px 0;
padding: 8px 0;
overflow: auto;
}

ul.mp-list a {
text-decoration: none;
color: #333;
}

ul.mp-list li:first-child a {
border-top: 0;
}

ul.mp-list a:hover {
color: #00aa88;
}

  ul.mp-list li:hover {
  background: rgba(255,255,255,.5);
  }

ul.mp-list .name {
font-weight: bold;
}

ul.mp-list .photo {
background: #e4f081;
margin-right: 3px;
}

ul.mp-list .photo img {
height: 25px;
}

ul.mp-list .party {
background: transparent url(../img/party-icons/mdpcde.png) no-repeat right 0;
padding: 0 20px 0;
font-size: 90%;
}

/* ------------------------ mp details
--------------------------------*/

#mp-header {
border-bottom: 6px solid #00aa88;
padding: 0 0 5px;
overflow: auto;
position: relative;
margin: 0 0 5px;
}

#mp-header h2 {
padding-top: 60px;
}

#mp-header h2 small {
font-size: 70%;
position: absolute;
right: 5px;
bottom: 5px;
}

#mp-header p {
display: block;
width: 60px;
float: left;
margin: 0 10px 0 0;
border: 2px solid #fff;
line-height: 1em;

box-shadow: 2px 2px 3px #ccc;
-moz-box-shadow: 2px 2px 3px #ccc;
-webkit-box-shadow: 2px 2px 3px #ccc;
}

#mp-header p > img {
width: 60px;
}

.mp-details {
list-style-type: none;
margin: 10px 0 30px 50px;
width: 450px;
float: left;
}

.mp-details-left {
margin: 10px 0 30px 0;
}

.mp-details a {
color: #00aa88;
text-decoration: none;
}

.mp-details a:hover, .mp-details a:focus {
text-decoration: underline;
}

.mp-details > li {
margin: 10px 0 0;
overflow: auto;
padding: 2px 0;
}

.mp-details > li:first-child {
margin: 0;
}

.mp-details li h4 {
border-bottom: 1px solid #00aa88;
}

.mp-details .single-field {
margin: 4px 0 0 0;
}

.mp-details .single-field h4 {
float: left;
display: block;
border: 0;
margin: 0 5px 0 0;
}

/*
.mp-details .twitter h4 {
background: transparent url(../img/services/twitter_newbird_white.png) no-repeat 0 center;
padding-left: 18px;
}*/

/* ------------------------ pagination
--------------------------------*/

#content .pagination {
clear: both;
position: relative;
margin: 0;
padding: 5px 0;
font-size: 90%;
border-top: 1px solid #ddd;
}

#content .pagination ul {
list-style-type: none;
padding: 0;
overflow: auto;
}

#content .pagination li,
#content .pagination li#pg-nav ul {
display: inline;
padding: 4px 0;
margin: 0;
}

#content .pagination a {
display: inline;
padding: 2px 5px 3px;
text-decoration: none;
color: #666;
}

#content .pagination a:hover,
#content .pagination a:focus {
background: #ddd;
color: #444;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#content .pagination a.on {
background: #666;
color: #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#content .pagination li#previous {
position: absolute;
left: 0px;
text-align: left;
}

#content .pagination li#next {
position: absolute;
right: 0px;
text-align: right;
}

#content .pagination li#previous a:hover,
#content .pagination li#next a:hover {
background: #ddd;
color: #444;
}

#content .pagination li#pg-nav {
text-align: center;
float: left;
width: 640px;
margin: 0 30px;
overflow: hidden;
}

/* ------------------------ search results
--------------------------------*/

ul#search-results {
width: 600px;
}

.refine-search {
background: rgba(255, 255, 255, .5);
padding: 10px;
width: 200px;
display: block;
position: absolute;
top: 40px;
right: 0;
}

.refine-search h4 {
margin: 10px 0;
}

.refine-search ul {
margin: 0 0 15px;
}

.refine-search ul li {
overflow: auto;
list-style-type: none;
margin: 0;
padding: 3px 0;
border-top: 1px dotted #999;
}

.refine-search ul li:first-child {
border-top: 0;
}

.refine-search ul li label {
padding: 0;
background: transparent;
position: relative;
vertical-align: middle;
}

.refine-search #new-search {
padding: 5px 0;
}

.refine-search #new-search input.searchbox,
.refine-search #new-search input.id_q {
width: 150px;
background: #fff;

}

.refine-search #new-search input.searchicon {
margin-left: -2px;
vertical-align: top;
padding: 5px 6px;
border: 1px solid #999;
background-color: #ccc;

border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
}


	.webkit .refine-search #new-search input.searchicon {
		padding: 4px 6px;
	}
	
	.ie .refine-search #new-search input.searchicon {
		padding: 6px 6px 7px;
	}

/* ------------------------ DAR transcripts
--------------------------------*/

.intervention {
background: rgba(255,255,255,.6);
border-top: 1px dotted #ccc;
border-bottom: 1px dotted #ccc;
margin-bottom: 20px;
padding: 0 20px;
}

.intervention > .entry:first-child {
border-top: 0;
}

.entry {
padding: 5px 0;
clear: both;
position: relative;
overflow: auto;
}

  .applause,
  .laughs,
  .protests,
  .punchline {
  padding: 2px 0;
  }

.entry .left {
width: 150px;
margin-right: 15px;
float: left;
display: block;
text-align: right;
font-size: 90%;
line-height: 1.1;
padding: 5px 0 0;
}

  .applause .left,
  .laughs .left,
  .protests .left,
  .punchline .left {
  font-size: 70%;
  padding: 5px 0 0;
  }
  
  .applause .left p,
  .laughs .left p,
  .protests .left p,
  .punchline .left p {
  background: transparent url(../img/icons/entry-applause.png) no-repeat right 0;
  padding-top: 16px;
  height: 0;
  overflow: hidden;
  }
  
  .entry .left h3 {
  margin: 4px 0;
  }
  
  .entry .left h4 {
  font-size: 100%;
  margin: 0 0 4px;
  }
  
  .entry .left mp-photo {
  }

  .entry .left .mp-photo img {
  width: 60px;
  }

  .entry .party img {
  width: 12px;
  height: auto;
  }

.entry .right {
width: 600px;
float: left;
display: block;
font-family: 'Linux Libertine O', Georgia, Times, serif;
font-size: 130%;
line-height: 1.4em;
padding: 5px 0 0;
border-top: 1px dotted #999;
}

.intervention > .entry:first-child .right {
border: 0;
}

  .applause .right,
  .laughs .right,
  .protests .right,
  .punchline .right {
  }
  
  .applause .right strong,
  .laughs .right strong,
  .protests .right strong,
  .punchline .right strong {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 85%;
  color: #555;
  }

.entry .right p {
margin-top: 10px;
}

.entry .right p:first-child {
margin-top: 0;
}


