* {
margin: 0;
padding: 0;
}

@font-face {
font-family: "Junction";
src: local("Junction"), url("../fonts/Junction.otf") format("opentype");
}

@font-face {
font-family: "League";
src: local("League"), url("../fonts/League-Gothic.otf") format("opentype");
}

@font-face {
font-family: "Titillium";
src: local("Titillium"), url("../fonts/titillium/TitilliumText1.otf") format("opentype");
}

img {
border: 0;
}

html {
height: 100%;
background: #373e48 url(../img/backgrounds/bg-texture-blue.png) repeat 0 0;
}

body {
height: 100%;
font-size: 70%;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.6em;
color: #333;
}

#header-box,
#menu-box,
#footer-box {
width: 950px;
overflow: auto;
margin: 0 auto;
padding: 20px 0;
position: relative;
clear: both;
}

a:focus {
outline: none;
}

h1 {
font-size: 220%;
}

h2 {
font-size: 180%;
}

h3 {
font-size: 160%;
}

h4 {
font-size: 120%;
margin: 0 0 10px 0;
}

h5 {
font-size: 100%
}

/* ------------------------ top-search
--------------------------------*/

#top-search {
position: absolute;
top: 10px;
right: 0;
}

#top-search input.searchbox {
width: 150px;
padding: 2px;
background: #fff;
vertical-align: middle;
}

#top-search .searchicon {
margin-left: -2px;
vertical-align: middle;
padding: 4px 6px;
background-color: #ccc;
border: 1px solid #999;

border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
}

/* ------------------------ menu
--------------------------------*/

#menu {
background: #373e48;
}

#menu-box {
padding: 0;
}

#menu-box ul {
overflow: auto;
}

#menu-box li {
list-style-type: none;
}

#menu-box li a {
color: #fff;
text-decoration: none;
font-size: 100%;
display: block;
float: left;
padding: 8px 4px;
margin: 0 2px 0;
text-transform: uppercase;
text-shadow: 1px 1px 0px #151e2b;
}

#menu-box li#homepage a {
background: transparent url(../img/democratica-small.png) no-repeat 0 8px;
padding: 36px 4px 0;
width: 118px;
height: 0;
overflow: hidden;
display: block;
}

#menu-box li#homepage a:hover,
#menu-box li#homepage a:focus {
opacity: .8;
}

/* ------------------------ content
--------------------------------*/

#content {
background: transparent url(../img/backgrounds/menu-shadow.png) repeat-x 0 0;
padding-top: 20px;
}

#content h2 {
margin: 0 0 10px;
}

#content-box {
background: #fff url(../img/backgrounds/bg-texture-black.png) repeat 0 0;
margin: 0 auto 15px;
width: 910px;
padding: 0 20px 20px;
position: relative;
z-index: 50;

box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}


/* ------------------------ footer
--------------------------------*/

#footer-box {
text-align: center;
color: #b7bec8;
}

#footer a {
color: #fff;
text-decoration: none;
}

#footer a:hover {
color: #333;
}

#navigation {
display: block;
margin: 0 0 15px;
text-align: center;
position: relative;
}

#navigation li {
list-style-type: none;
display: inline;
}

#navigation li a {
display: inline-block;
color: #fff;
padding: 5px 10px;
text-decoration: none;
font-size: 11px;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

/* ------------------------ homepage
--------------------------------*/

#page {
position: relative;
height: 100%;
min-height: 610px;
}

#page #content {
background-color: transparent;
background-image: none;
width: 715px;
min-height: 100%;
position: relative;
margin: 0 auto;
}

#page #header {
text-align: center;
color: #fff;
background-color: transparent;
padding: 15px 0 0;
box-shadow: 0 0 0 transparent;
-moz-box-shadow: 0 0 0 transparent;
-webkit-box-shadow: 0 0 0 transparent;
}

#page #header h1 {
font-size: 100%;
line-height: 1;
margin: 0 0 15px;
}

#page #header h1 a {
display: block;
width: 384px;
height: 0;
padding: 272px 0 0;
margin: 0 auto;
background: transparent url(../img/democratica-big.png) no-repeat 0 center;
overflow: hidden;
}

#page #header p {
font-size: 110%;
}

#content #main {
clear: both;
overflow: auto;
margin: 20px auto;
padding: 0;
}

#content #main a.box {
padding: 30px 20px;
margin: 0 26px 10px 0;
width: 302px;
float: left;
background: #dbdee3 url(../img/backgrounds/bg-texture-black.png) repeat 0 0;
font-size: 115%;
text-decoration: none;
color: #535d6c;
text-shadow: 1px 1px 0px #dbdee3;
display: block;
text-align: center;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
box-shadow: 2px 2px 3px rgba(55,62,72,.8);
-moz-box-shadow: 2px 2px 3px rgba(55,62,72,.8);
-webkit-box-shadow: 2px 2px 3px rgba(55,62,72,.8);
}

  #content #main a.right {
  margin-right: 0;
  }

#content #main a.box:hover {
color: #333;
border-color: #333;
}

#content #main a.box h2 {
padding: 0 0 10px;
border-bottom: 1px dotted #535d6c;
}

#about {
text-align: center;
height: 120px;
margin: -120px auto 0;
min-width: 715px;
clear: both;
position: relative;
}

#home #about #navigation {
margin: 0;
cursor: default;
position: relative;
z-index: 3;
}

#about a#reveal-button {
color: #dbdee3;
display: block;
text-decoration: none;
background: #373e48 url(../img/backgrounds/about-bg.png) repeat-x 0 0;
text-align: center;
margin: 10px 0 0;
color: #fff;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
padding: 27px 0;
height: 28px;
}

#about a#reveal-button h3 {
font-size: 28px;
line-height: 1;
margin: 0;
padding: 0;
background: transparent url(../img/icons/arrow-down.png) no-repeat right center;
}

#more-info {
background: #fff url(../img/backgrounds/bg-texture-black.png) repeat 0 0;

}

#more-box {
width: 715px;
margin: 0 auto;
padding: 20px 0;
}

/* ------------------------ mp-list
--------------------------------*/

form#quicksearch {
float: right;
padding: 6px 0;
}

form#quicksearch input[type="text"] {
width: 180px;
background-color: #fff;
}

form#quicksearch #loader {
position: absolute;
top: 10px;
right: 18px;
z-index: 20;
}

ul.mp-filters {
border-bottom: 1px solid #b7bec8;
padding: 4px 0;
margin: 10px 0 5px;
overflow: auto;
}

ul.mp-filters li {
display: block;
float: left;
margin: 0 15px 0 0;
}

ul.mp-filters a {
display: block;
float: left;
text-decoration: none;
padding: 5px 3px;
margin: 0 2px;
}

/* -------------- simple mp-list
------------------------*/

ul.mp-list {
font-size: 120%;
margin: 0 26px 20px 0;
width: 272px;
float: left;
}

ul.last {
margin: 0 0 20px;
}

ul.mp-list li {
list-style-type: none;
display: block;
margin: 6px 0;
padding: 2px 0;
overflow: auto;
}

ul.mp-list a {
text-decoration: none;
color: #373E48;
padding: 2px 0 2px 6px;
}

ul.mp-list li:first-child a {
border-top: 0;
}

ul.mp-list a:hover {
color: #6f7c91;
border-left: 4px solid #6f7c91;
padding-left: 2px;
background: #fff;
}

ul.mp-list .name {
font-weight: bold;
}

ul.mp-list .photo {
background: #e4f081;
margin-right: 3px;
}

ul.mp-list .photo img {
height: 25px;
}

ul.mp-list .party {
/* background: transparent url(../img/party-icons/mdpcde.png) no-repeat right 0; */
padding: 0 8px 0;
font-size: 75%;
font-weight: bold;
}

.party.ps { color: #d888bb; }
.party.psd { color: #cb8d41; }
.party.pcp { color: #c74343; }
.party.be { color: #671717; }
.party.cds-pp { color: #606798; }
.party.pev { color: #607454; }

/* ------------------------ mp details
--------------------------------*/

.mp-information {
clear: both;
overflow: auto;
}

.mp-details {
list-style-type: none;
margin: 0 0 30px 50px;
width: 430px;
float: left;
}

.mp-details-left {
margin-left: 0;
}

.mp-details a {
color: #535d6c;
text-decoration: none;
border-bottom: 1px solid #939dac;
}

.mp-details a:hover,
.mp-details a:focus {
color: #373e48;
border-color: #6f7c91;
}

.mp-details li ul {
margin: 0 0 10px;
overflow: auto;
padding: 2px 0;
}

.mp-details li h4 {
border-bottom: 4px solid #B7BEC8;
color: #6f7c91;
margin: 10px 0 0;
}

.mp-details > li > h4:first-child {
margin: 0;
}

.mp-details li h5 {
margin-top: 10px;
}

.mp-details .single-field {
margin: 5px 0 0 0;
}

.mp-details .single-field h5,
.mp-details .single-field p {
display: inline-block;
margin: 0;
}

/* ------------------------ ribbon titles
--------------------------------*/

#content h2.ribbon {
background-color: #fff;
clear: both;
padding: 12px 15px 10px;
margin-bottom: 5px;
margin-left: -30px;
margin-right: -30px;
position:relative;

-moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
-webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
-o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
box-shadow:2px 2px 0 rgba(0,0,0,0.1);
}

#content h2.ribbon:before,
#content h2.ribbon:after {
bottom: 0;
content: " ";
display: block;
height: 10px;
margin-bottom: -10px;
position: absolute;
width: 10px;
z-index: -1;
}

#content h2.ribbon:before,
#content #mp-header:before {
background: transparent url(../img/backgrounds/ribbon-left.png) repeat 0 0;
left: 0;
right: auto;
}

#content h2.ribbon:after,
#content #mp-header:after {
background: transparent url(../img/backgrounds/ribbon-right.png) repeat 0 0;
left: auto;
right: 0;
}


/* ------------------------ cabeçalho página de deputado
--------------------------------*/

#mp-header {
padding-top: 5px;
margin: 20px -30px 25px;
position: relative;

}

#content #mp-header:before,
#content #mp-header:after {
bottom: 0;
content: " ";
display: block;
height: 10px;
margin-bottom: -10px;
position: absolute;
width: 10px;
z-index: -1;
}

#mp-header h2 {
background-color: #fff;
color: #6f7c91;
padding: 20px 15px 10px 90px;
font-family: "Titillium", Georgia, Times, serif;
font-weight: normal;
font-size: 24px;
margin: 20px 0 0;
text-shadow: 0 -1px 0 rgba(55,62,72,0.8);

-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
-o-box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

#mp-header .mp-photo {
float: left;
width: 60px;
display: block;
margin: -22px 20px 0;
}

#mp-header .mp-photo img {
display: block;
width: 60px;
margin: 0;
border-top: 4px solid #fff;
border-left: 4px solid #fff;
border-right: 4px solid #fff;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#mp-header h2 small {
font-size: 70%;
float: right;
}

#mp-header h2 small img {
max-height: 25px;
width: auto;
}

/* ------------------------ tabs
--------------------------------*/

#content .tabs {
margin: 0 0 5px;
position: absolute;
top: -27px;
right: 0;
height: 27px;
}

#content .tabs li {
display: inline;
list-style-type: none;
margin: 0 0 0 2px;
}

#content .tabs li:first-child {
margin: 0;
}

#content .tabs a,
#content .tabs span {
display: inline-block;
padding: 8px 10px;
line-height: 1;

border-top-left-radius: 3px;
border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
}

#content .tabs span {
background: #fff url(../img/backgrounds/bg-texture-black.png) repeat 0 0;
color: #333;
text-shadow: 0 -1px 0px #fff;
}

#content .tabs a {
background: #b7bec8 url(../img/backgrounds/bg-texture-black.png) repeat 0 0;
text-decoration: none;
color: #373e48;
}

#content .tabs a:focus,
#content .tabs a:hover {
background: #b7bec8;
}

/* ------------------------ pagination
--------------------------------*/

#content .pagination {
clear: both;
position: relative;
margin: 0;
padding: 5px 0;
font-size: 90%;
border-top: 1px solid #ddd;
}

#content .pagination ul {
list-style-type: none;
padding: 0;
overflow: auto;
}

#content .pagination li,
#content .pagination li#pg-nav ul {
display: inline;
padding: 4px 0;
margin: 0;
}

#content .pagination a {
display: inline;
padding: 2px 5px 3px;
text-decoration: none;
color: #666;
}

#content .pagination a:hover,
#content .pagination a:focus {
background: #ddd;
color: #444;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#content .pagination a.on {
background: #666;
color: #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#content .pagination li#previous {
position: absolute;
left: 0px;
text-align: left;
}

#content .pagination li#next {
position: absolute;
right: 0px;
text-align: right;
}

#content .pagination li#previous a:hover,
#content .pagination li#next a:hover {
background: #ddd;
color: #444;
}

#content .pagination li#pg-nav {
text-align: center;
float: left;
width: 640px;
margin: 0 30px;
overflow: hidden;
}

/* ------------------------ search results
--------------------------------*/

ul#search-results {
width: 600px;
}

.refine-search {
background: rgba(255, 255, 255, .5);
padding: 10px;
width: 200px;
display: block;
position: absolute;
top: 40px;
right: 0;
}

.refine-search h4 {
margin: 10px 0;
}

.refine-search ul {
margin: 0 0 15px;
}

.refine-search ul li {
overflow: auto;
list-style-type: none;
margin: 0;
padding: 3px 0;
border-top: 1px dotted #999;
}

.refine-search ul li:first-child {
border-top: 0;
}

.refine-search ul li label {
padding: 0;
background: transparent;
position: relative;
vertical-align: middle;
}

.refine-search #new-search {
padding: 5px 0;
}

.refine-search #new-search input.searchbox,
.refine-search #new-search input.id_q {
width: 150px;
background: #fff;

}

.refine-search #new-search input.searchicon {
margin-left: -2px;
vertical-align: top;
padding: 5px 6px;
border: 1px solid #999;
background-color: #ccc;

border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
}


	.webkit .refine-search #new-search input.searchicon {
		padding: 4px 6px;
	}
	
	.ie .refine-search #new-search input.searchicon {
		padding: 6px 6px 7px;
	}

/* ------------------------ DAR transcripts
--------------------------------*/

.intervention {
background: rgba(255,255,255,.6);
border-top: 1px dotted #ccc;
border-bottom: 1px dotted #ccc;
margin-bottom: 20px;
padding: 0 20px;
}

.intervention > .entry:first-child {
border-top: 0;
}

.mini-intervention {
    background: none;
}

.entry {
padding: 5px 0;
clear: both;
position: relative;
overflow: auto;
}

  .applause,
  .laughs,
  .protests,
  .punchline {
  padding: 2px 0;
  }

.entry .left {
width: 150px;
margin-right: 15px;
float: left;
display: block;
text-align: right;
font-size: 90%;
line-height: 1.1;
padding: 5px 0 0;
}

  .applause .left,
  .laughs .left,
  .protests .left,
  .punchline .left {
  font-size: 70%;
  padding: 5px 0 0;
  }
  
  .applause .left p,
  .laughs .left p,
  .protests .left p,
  .punchline .left p {
  background: transparent url(../img/icons/entry-applause.png) no-repeat right 0;
  padding-top: 16px;
  height: 0;
  overflow: hidden;
  }
  
  .entry .left h3 {
  margin: 4px 0;
  }
  
  .entry .left h4 {
  font-size: 100%;
  margin: 0 0 4px;
  }
  
  .entry .left mp-photo {
  }

  .entry .left .mp-photo img {
  width: 60px;
  }

  .entry .party img {
  width: 12px;
  height: auto;
  }

.entry .right {
width: 600px;
float: left;
display: block;
font-family: 'Linux Libertine O', Georgia, Times, serif;
font-size: 130%;
line-height: 1.4em;
padding: 5px 0 0;
border-top: 1px dotted #ccc;
}

.intervention > .entry:first-child .right {
border: 0;
}

  .applause .right,
  .laughs .right,
  .protests .right,
  .punchline .right {
  }
  
  .applause .right strong,
  .laughs .right strong,
  .protests .right strong,
  .punchline .right strong {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 85%;
  color: #555;
  }

.entry .right p {
margin-top: 10px;
}

.entry .right p:first-child {
margin-top: 0;
}

.entry .right p.mini {
    color: #777;
    font-size: 75%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ------------------------ vista de calendário
--------------------------------*/

#calendar .month {
overflow: auto;
margin: 5px 0 0;
}

#calendar .month h4 {
display: block;
float: left;
padding: 5px;
min-width: 40px;
margin: 0;
font-size: 13px;
font-weight: bold;
}

#calendar .month abbr {
border-bottom: 0;
text-transform: uppercase;
}

#calendar ol {
float: left;
}

#calendar ol li {
list-style-type: none;
display: inline;
}

#calendar ol li a,
#calendar ol li span {
display: inline-block;
min-width: 20px;
padding: 5px 3px;
text-align: center;
text-decoration: none;

background: #b7bec8;
color: #373e48;

background-color: #dbdee3;
color: #b7bec8;

margin: 0;
font-size: 11px;
font-weight: bold;
}

  #calendar ol li a.session-yes {
  background-color: #e9ddaf;
  color: #484537;
  }
  
  #calendar ol li .weekend {
  background-color: #e6e6e6;
  color: #b7bec8;
  }

#calendar ol li a:hover,
#calendar ol li a:focus {
background-color: #6f7c91;
}

/* ------------------------ pesquisa DAR
--------------------------------*/

#dar-search {
margin: 20px 0 10px;
background: #939dac;
padding: 20px 10px;
border: 1px solid #b7bec8;
}

#dar-search > div {
}



