{% extends "base_dar.html" %}

{% load dartags %}

{% block extrabodyclass %}no-background{% endblock %}

{% block content %}
    <div id="content-box">
      <h2>Calendário</h2>
      
      <div class="year-nav">
        <ul>
        {% for year in years %}
        <li><a href="">{{ year }}</a></li>
        {% endfor %}
        </ul>
      </div>
    		
		  <div id="calendar">
		
      {% for year in years %}
		    <div class="year">
          {# <h3>{{ year }}</h3> #}
		      
          {% for month in year|months_for_year %}
		      <div class="month">
            <h4><abbr title="{{ month }}">{{ month|month_abbrev }}</abbr></h4>
		        <ol>
              {% for day in month|days_for_month:year %}{% if day.day == 1 %}{{ day|day_padding }}{% endif %}{% if day in session_dates %}<li><a href="{{ day|session_url }}"{% if day|is_weekend %} class="weekend"{% endif %} class="session-yes">{{ day.day }}</a>{% else %}<li><span {% if day|is_weekend %} class="weekend"{% endif %} class="session-yes">{{ day.day }}</span>{% endif %}</li>{% endfor %}
		        </ol>
		      </div><!-- /month -->
          {% endfor %}
		      
		    </div><!-- /year-->
      {% endfor %}
		
		  </div><!-- /calendar-->
        
    </div><!-- /#content-box -->  
{% endblock %}
