{% extends "base_dar.html" %}

{% load dartags %}

{% block extrabodyclass %}no-background{% endblock %}

{% block content %}
    <div id="content-box">
      <h2>Sessões parlamentares em {{ year }}</h2>
      
      <ul class="year-nav">
      {% for y in years %}
        <li><a {% ifequal y year %}class="selected"{%endifequal%} href="{% url calendar_year y %}">{{ y }}</a></li>
      {% endfor %}
      </ul>
    		
		  <div id="calendar">
		
		    <div class="year">
          {% for month in year|months_for_year %}
		      <div class="month">
            <h4><abbr title="{{ month }}">{{ month|month_abbrev }}</abbr></h4>
		        <ol>
              {% for day in month|days_for_month:year %}{% if day.day == 1 %}{{ day|day_padding }}{% endif %}{% if day in session_dates %}<li><a href="{{ day|session_url }}"{% if day|is_weekend %} class="weekend session-yes"{% else %} class="session-yes"{% endif %} rel="tipsy" title="Palavra mais mencionada <strong>{{ words|lookup:day }}</strong>">{{ day.day }}</a>{% else %}<li><span {% if day|is_weekend %} class="weekend" {% endif %}>{{ day.day }}</span>{% endif %}</li>{% endfor %}
		        </ol>
		      </div><!-- /month -->
          {% endfor %}
		    </div><!-- /year-->
		
		  </div><!-- /calendar-->
        
    </div><!-- /#content-box -->  
{% endblock %}
