{% extends 'base_dar.html' %}

{% load deputags %}
{% load dartags %}

{% block extrabodyclass %}default dar{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">
      $(document).ready(function(){  
        $(".entry").hover(function(){
          $(this).toggleClass("active");
        });
      });
    </script>
    
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

{% comment %}    
    <script type="text/javascript">
      $(document).ready(function(){
        $('li.entry-link').one('click', openMenu);
        function openMenu(e) {
          var button = $(this).addClass('active');
          var menu = $('#popup-' + button.attr('id'));
          menu.addClass('open').click(function(e) {
          e.stopPropagation(); }).show(200, function() {
              $(document).one('click', {button: button, menu: menu}, closeMenu);
            });
          }

        function closeMenu(e) {
          e.data.menu.removeClass('open').hide(100, function() {
            e.data.button.removeClass('active')
          });
          e.data.button.one('click', openMenu);
        }

      });
  </script>
{% endcomment %}

{% endblock %}

{% block content %}
    <div id="content-box">
      
      <ul id="dar-tabs" class="tabs">
        <li><span>Sessão</span></li>
        <li><a href="stats" title="">Estatísticas</a></li>
      </ul>
       
      <h2 class="ribbon">{{ day.date }}</h2>

      {% for entry in entries %}
      {% if forloop.first %}
      <div class="intervention mini-intervention">
      {% endif %}

      {% if entry.type == 'mp' %}
      </div>
      <div class="intervention">
      {% endif %}

      {% if entry.type == 'president' or entry.type == 'secretary' %}
      </div>
      <div class="intervention mini-intervention">
      {% endif %}

      {% if entry.type == 'mp' %}
      <div class="entry" id="{{ entry.id }}">
          
            {{ entry.type }}
            {% if entry.type == 'mp' and not entry.speaker %}
              {% with mp_lookup|lookup:entry.mp_id as mp %}
              
              <div class="left">
              {# FIXME: usar o thumbnail #}
              {# <p class="mp-photo"><img src="{{ mp.photo.photo.url_18x25 }}" alt="{{ mp.shortname }}" /></p> #}
              <p class="mp-photo"><a href="/deputados/{{ mp.id }}" class="avatar-colorbar {{ mp.current_party.abbrev|lower }}"><img src="{{ mp.photo.url }}" alt="{{ mp.shortname }}" /></a></p>

                <h3><a href="/deputados/{{ mp.id }}">{{ mp.shortname }}</a></h3>

                {# {% if mp|get_post_on:gov %} <h4>{{ mp|get_post_on:gov }}</h4> {% endif %} #}

                <p class="party {{ mp.current_party.abbrev|lower }}">{{ mp.current_party.abbrev }}</p>
                <p class="circle {{ mp.current_party.abbrev|lower }}">{{ mp.current_caucus.constituency }}</p>
              {% endwith %}
              </div> <!-- /left -->
            {% else %}
              <div class="left">
                <p class="mp-photo"><img src="{{ entry.mp.photo.url }}" alt="{{ entry.mp.shortname }}" /></p>
                {% if entry.speaker %}
                <h3>{{ entry.speaker }}</h3>
                {% else %}
                <h3>{{ entry.party }}</h3>
                {% endif %}
                <p class="party">{{ entry.mp.current_party.abbrev }}</p>
                <p class="circle"></p>
              </div> <!-- /left -->
            {% endif %}
        
          <div class="right">
          
            {% comment %}
            <ul class="popup" id="popup-button-{{ entry.id }}">
              <li><p>Link directo <a href="#">http://loremipsumlink/loremipsumlink/loremlink/200000</a></p></li>
            </ul>
            {% endcomment %}  
            {{ entry.text_as_html }}
            
            {# exemplo:  http://twitter.com/share?url=http%3A%2F%2Fdev.twitter.com #}
            {# o que vem depois do http://twitter.com/share? é a url a partilhar #}
            <p><a href="http://twitter.com/share?url=http%3A%2F%2Fmanufacturaindependente.org" class="twitter-share-button" data-url="http://google.com" data-count="vertical">Tweet</a></p>
            
            <p><a name="fb_share" type="icon_link" expr:share_url="data:post.url">Share</a></p>
            
            <ul class="social">
              <li class="entry-link" id="button-{{ entry.id }}" title="Link directo">Link directo</li>
              <li><a href="#" class="facebook" title="Partilhar no Facebook">Facebook</a></li>
               <li><a href="#" class="twitter" title="Partilhar no Twitter">Twitter</a></li>

               
              <li><a href="#" class="identica" title="Partilhar no Identi.ca">Twitter</a></li>
            </ul>
            
          </div>
        </div>
      {% else %}

      <div class="entry" id="{{ entry.id }}">
          {% if entry.type == 'interruption' %}
          <div class="right interruption">
            <p class="mini">{{ entry.text_as_html_plain }} -- {{ entry.speaker }}</p>
          </div>

          {% else %}
            {% if entry.type == 'applause' or entry.type == 'protest' or entry.type == 'laughter' %}
            <div class="right interruption">
              <p class="mini">{{ entry.text_as_html_plain }}</p>
            </div>
            {% else %}
            <div class="left">
              {% if entry.type == 'president' %}
                {% if entry.speaker == 'Presidente' and entry.party == 'Presidente' %}
                <h3>Presidente</h3>
                {% else %}
                <h3>{{ entry.speaker }} ({{ entry.party }})</h3>
                {% endif %}
              {% else %}
                {{ entry.type }}
                {% if entry.mp %}
                <h3>{{ entry.mp.shortname }} ({{ entry.mp.current_party }})</h3>
                {% else %}
                <h3>{{ entry.speaker }}{% if entry.party %} ({{ entry.party }}){% endif %}</h3>
                {% endif %}
              {% endif %}
            </div>
            
            <div class="right">
              {{ entry.text_as_html }}
            </div>
            {% endif %}
          {% endif %}
        </div>
        
      {% endif %}

      {% endfor %}
        
    </div><!-- /#content-box -->
{% endblock content %}
      
