{% extends "base_dar.html" %}

{% load dartags %}

{% block title %}Sessões parlamentares em {{ year }} &mdash; Demo.cratica (Beta){% endblock %}

{% block extrascripts %}
    <script src="/media/js/jquery.infiniteCarrousel.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
		    $('.infiniteCarousel').infiniteCarousel();  
      });
    </script>

{% endblock %}

{% block extrabodyclass %}no-background{% endblock %}

{% block content %}
    <div id="content-box">
      <h2>Sessões parlamentares em {{ year }}</h2>
      
      <div class="infiniteCarousel">
      <div class="wrapper">
        <ul class="years">
          {% for y in years %}
            <li><a {% ifequal y year %}class="selected"{%endifequal%} href="{% url calendar_year y %}">{{ y }}</a></li>
          {% endfor %}
        </ul>
      </div>
      </div>
    		
		  <div id="calendar">
		
		    <div class="year">
          {% for month in year|months_for_year %}
		      <div class="month">
            <h4><abbr title="{{ month }}">{{ month|month_abbrev }}</abbr></h4>
		        <ol>
            {% for day in month|days_for_month:year %}{% if day.day == 1 %}{{ day|day_padding }}{% endif %}{% if day in session_dates %}<li><a href="{{ day|session_url }}"{% if day|is_weekend %} class="weekend session-yes{% if day in election_dates %} election{% endif %}"{% else %} class="session-yes"{% endif %} rel="tipsy" title="Palavra do dia <strong>{{ words|lookup:day }}</strong>">{{ day.day }}</a>{% else %}<li><span {% if day|is_weekend %} class="weekend{% if day in election_dates %} election{% endif %}" {% endif %}{% if day in election_dates %} rel="tipsy" title="{{ election_dates|lookup:day }}" {% if not day|is_weekend %}class="election"{% endif %}{% endif %}>{{ day.day }}</span>{% endif %}</li>{% endfor %}
		        </ol>
		      </div><!-- /month -->
          {% endfor %}
		    </div><!-- /year-->
		
		  </div><!-- /calendar-->
        
    </div><!-- /#content-box -->  
{% endblock %}
