{% extends 'base_dar.html' %}

{% load deputags %}
{% load dartags %}
{% load if_tag %}

{% block extrabodyclass %}default dar{% endblock %}

{% block title %}{{ day.date }} &mdash; Demo.cratica (Beta){% endblock %}

{% block ogtitle %}{{ day.date }} &mdash; Demo.cratica (Beta){% endblock %}
{% block ogurl %}{% url day_detail day.date.year day.date.month day.date.day %}{% endblock %}
{% block ogtype %}transcript{% endblock %}

{% block extrascripts %}
{% endblock %}

{% block content %}
      <div id="content-box">
        
        <ul id="dar-tabs" class="tabs">
          <li><a href="{% url day_detail day.date.year day.date.month day.date.day %}">Transcrição</a></li>
          <li><a href="stats" title="">Estatísticas</a></li>
          <li><span>Revisões</span></li>
        </ul>
         
        <h2 class="ribbon">Revisões da transcrição de {{ day.date }}</h2>

        {% for r, diffstr in revs %}
          {% if diffstr %}
          <div>
            {{ diffstr|safe }}
          </div>
          {% endif %}
        <p>&nbsp;</p>
        {% if not r.revision.comment == 'Initial version.' %}<p>{{ r.revision.date_created }} &mdash; {% if r.revision.user %}<strong>{{ r.revision.user }}</strong>: {% endif %}<em>{{ r.revision.comment }}</em></p>{% endif %}
        {% endfor %}
        
      </div><!-- /#content-box -->
      
      <div id="toolbar">
        <ul class="left">
          {% if messages %}
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
          {% endif %}
        </ul>
        <ul>
          <li><a href="">Abrir PDF original</a></li>
          <li><a href="{% url parse_session_entries day.id %}">{% if day.parsed %}Re-catalogar sessão{% else %}Catalogar sessão{% endif %} (demora um bocadinho)</a></li>
          <li><a href="">Logout?</a></li>
        </ul>
      </div><!-- /#toolbar -->
      
{% endblock content %}


