{% load dartags %}

{# Debug info #}
{% comment %}
<p>{{ entry.position }} {{ entry.type }}</p>
<p><a href="javascript:refresh({{ entry.id }});">Refresh</a></p>
{% endcomment %}

    <!-- Continuação -->

    {% elif entry.type == 'continuacao' %}
      {% if entry.mp_id %}
      {% with mpdict|lookup:entry.mp_id as mp %}
      <div class="left">
        <p class="party {{ mp.party_abbrev|lower }}"><a href="{{ mp.url }}">{{ mp.shortname }} <img src="{{ mp.photo.url_18x25 }}" alt="" /></a></p>
      </div>
      <div class="right"><div class="entry-content edit_area" id="Entry_raw_text_{{ entry.id }}"> {{ entry.text_as_html }} </div></div>
      {% endwith %}
      {% else %}
      <div class="left">
        <p>{{ entry.speaker }}</p>
        <p class="party">{{ entry.party }}</p>
      </div>
      <div class="right">
        <div class="entry-content edit_area" id="Entry_raw_text_{{ entry.id }}"> {{ entry.text_as_html }}</div>
      {% comment %}                
        <ul class="actionbar">
          <li><a href="javascript:unmark_as_cont({{entry.id}})">Desmarcar como continuação</a></li>
          <li><a href="javascript:correct_newlines({{entry.id}})">Corrigir quebras de linha</a></li>
        </ul>
      {% endcomment %}                
       </div>
      {% endif %}

    {# Presidente -- intervencao #}
  {% elif entry.type == 'presidente' %}
  <div class="left"> 
    <h3>Presidente</h3> 
  </div>
  <div class="right">
    <div class="entry-content edit_area" id="Entry_raw_text_{{ entry.id }}">
        {{ entry.text_as_html }}
    </div>
      {% comment %}                
    <ul class="actionbar">
      <li><a href="javascript:mark_as_aside({{ entry.id }});">Marcar como <strong>aparte</strong></a></li>
      <li><a href="javascript:mark_as_cont({{ entry.id }});">Marcar como <strong>continuação</strong></a></li>
    </ul>
      {% endcomment %}                
  </div>

  {# Presidente -- aparte ou pedido de conclusao #}
  {% elif entry.type == 'presidente_aparte' %}
  <div class="left"> <p class="mini">Presidente</p></div>
  <div class="right"><div class="entry-content edit_area" id="Entry_raw_text_{{ entry.id }}"> {{ entry.text_as_html }} </div></div>

  {# Presidente -- tem a palavra #}
  {% elif entry.type == 'presidente_temapalavra' %}
    <div class="left"> <h3>Presidente</h3> </div>
    <div class="right"><div class="entry-content  edit_area" id="Entry_raw_text_{{ entry.id }}"> {{ entry.text_as_html }} </div></div>

  {# Secretário #}
  {% elif entry.type == "secretario" %}

  {# Aparte de deputado #}
  {% elif entry.type == 'deputado_aparte' or entry.type == 'pm_aparte' or entry.type == 'ministro_aparte' or entry.type == 'secestado_aparte' %}
  {% if entry.mp_id %}
    {% with mpdict|lookup:entry.mp_id as mp %}
  <div class="left">
    <p class="party {{ mp.party_abbrev|lower }}"><a href="{{ mp.url }}">{{ mp.shortname }} <img src="{{ mp.photo.url_18x25 }}" alt="" /></a></p>
  {% endwith %}
  {% else %}
    <p class="party {{ e.party|lower }}">{{ e.speaker }}</p>
  {% endif %}

  </div>
  <div class="right edit_area" id="Entry_raw_text_{{ entry.id }}">
    <div class="entry-content"> {{ entry.text_as_html }} </div>
      {% comment %}                
    <ul class="actionbar">
      <li><a href="javascript:mark_as_main({{ entry.id }});">Marcar como <strong>intervenção</strong></a></li>
    </ul>
      {% endcomment %}                
  </div>

  {# Vozes #}
  {% elif entry.type == "vozes_aparte" %}
  <div class="left"> <p class="mini">{{ entry.speaker }}</p> </div>
  <div class="right"><div class="entry-content edit_area" id="Entry_raw_text_{{ entry.id }}"> {{ entry.text_as_html }} </div></div>

  {# Aplausos, protestos, risos, pausas, notas, horas e outros eventos #}
  {% elif entry.type == "presidente_troca" or entry.type == "aplauso" or entry.type == "protesto" or entry.type == "riso" or entry.type == "pausa" or entry.type == "nota" or entry.type == "hora" %}
    <div class="right">
      <div class="entry-content edit_area interruption" id="Entry_raw_text_{{ entry.id }}">
        {{ entry.text_as_html }}
      </div>
    </div>

  {# Sumário #}
  {% elif entry.type == "sumario" %}
  <div class="right">
    <div class="entry-content edit_area collapsible" id="Entry_raw_text_{{ entry.id }}"> {{ entry.text_as_html }} </div>
  </div>

  {# Chamadas #}
  {% elif entry.type == "chamada_presentes" or entry.type == "chamada_ausentes" or entry.type == "chamada_atrasados" or entry.type == "chamada_missao" %}
  <div class="right">
    <div class="entry-content edit_area collapsible" id="Entry_raw_text_{{ entry.id }}"> {{ entry.text_as_html }} </div>
  </div>

  {# Voto #}
  {% elif entry.type == "voto" %}
  <div class="right">
    <div class="entry-content edit_area vote-result" id="Entry_raw_text_{{ entry.id }}"> {{ entry.text_as_html }} </div>
  </div>

  {# outros casos #}
  {% else %}
  <div class="left"> 
    <p class="mini">{{ entry.speaker }}</p> 
    <p class="party">{{ entry.party }}</p>
  </div>
  <div class="right">
    <div class="entry-content edit_area" id="Entry_raw_text_{{ entry.id }}"> {{ entry.text_as_html }} </div>
      {% comment %}                
    <ul class="actionbar">
      <li><a href='javascript:join_with_previous({{ entry.id }},{{ entry.prev_id }},{{ entry.next_id }});'>Juntar à anterior</a></li>
      <li><a href="javascript:mark_as_cont({{ entry.id }});">Marcar como <strong>continuação</strong></a></li>
      <li><a href="javascript:correct_newlines({{entry.id}})">Corrigir quebras de linha</a></li>
    </ul>
      {% endcomment %}                
  </div>

  {% endif %}
