<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Transparência Porto :: Deputados</title>

    <link rel="stylesheet" href="../../media/js/uniform/css/uniform.default.css" type="text/css" />
    <link rel="stylesheet" href="../../media/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="../../media/img/favicon.ico" />
  
    <script type="text/javascript" src="../../media/js/scriptaculous/prototype.js"></script>
    <script type="text/javascript" src="../../media/js/scriptaculous/slider.js"></script>
    <script type="text/javascript" src="../../media/js/css_browser_selector.js"></script>
    
    <style type="text/css" media="screen" >
				
			/* put the left rounded edge on the track */
			#track1-left {
				position: absolute;
				width: 12px;
				height: 72px;
				background: transparent url(../../media/img/js-slider/slider-images-track-left.png) no-repeat top left;
			}
			
			/* put the track and the right rounded edge on the track */
			#track1 {
				background: transparent url(../../media/img/js-slider/slider-images-track-right.png) no-repeat top right;
			}

		</style>
		
		<script type="text/javascript" src="../../media/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../../media/js/css_browser_selector.js"></script>
    <script type="text/javascript" src="../../media/js/uniform/jquery.uniform.js"></script>
    <script type="text/javascript" src="../../media/js/jquery.clear-on-focus.js"></script>


  </head>

<body class="home">

  <div id="header">
    <div id="menu-box">
      <ul>
        <li id="small-logo"><a href="/">Democratica</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/">Deputados</a></li>
        <li><a href="/">Sessões</a></li>
      </ul>
    </div> <!-- /#menu-box -->
  </div> <!-- /#header -->
  
  <div id="content">
    <div id="content-box">    
      <h2>Máquina do Tempo</h2>
      
		  <div id="track1" style="width:392px; height:72px;">
			<div id="track1-left"></div><div id="handle1" style="width:40px; height:72px;"><img src="../../media/img/js-slider/slider-images-handle.png" alt="" style="float: left;" /></div>

<!--
      <h2>Horizontal Slider with Preset Values</h2>
		  <div id="track3" style="width:200px; background-color:#ccc; height:10px;">
			<div id="handle3" style="width:10px; height:15px; background-color:#f00; cursor:move;"></div>
  		</div>
  		<p id="debug3">&nbsp;</p>
-->

		</div>
		<div id="debug1">&nbsp;</div>

		<script type="text/javascript" language="javascript">
		// <![CDATA[
		
			// horizontal slider control
			new Control.Slider('handle1', 'track1', {
				onSlide: function(v) { $('debug1').innerHTML = 'slide: ' + v },
				onChange: function(v) { $('debug1').innerHTML = 'changed: ' + v }
			});
			
			// horizontal slider control with preset values
			new Control.Slider('handle3', 'track3', {
				range: $R(-200, 200),
				values: [-200, -150, -100, -50, 0, 50, 100, 150, 200],
				sliderValue: 1, // won't work if set to 0 due to a bug(?) in script.aculo.us
				onSlide: function(v){ $('debug3').innerHTML = 'slide: ' + v },
				onChange: function(v){ $('debug3').innerHTML = 'changed: ' + v }
			});


		// ]]>
		</script>
		

		<script type="text/javascript" charset="utf-8">
			var feedback_widget_options = {};
			feedback_widget_options.display = "overlay";  
			feedback_widget_options.company = "aldenta";
			feedback_widget_options.placement = "right";
			feedback_widget_options.color = "#222";
			feedback_widget_options.style = "idea";
			var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
		</script>
		
		<div id="calendar">
		
		  <div class="year">
		    <h3>2011</h3>
		    
		    <div class="month">
		      <h4><abbr title="Janeiro">Jan</abbr></h4>
		      <ol>
		        <li><a href="#" class="session-yes">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#" class="weekend">6</a></li><li><a href="#" class="weekend">7</a></li><li><a href="#">8</a></li><li><a href="#">9</a></li><li><a href="#">10</a></li><li><a href="#">11</a></li><li><a href="#">12</a></li><li><a href="#" class="weekend">13</a></li><li><a href="#" class="weekend">14</a></li><li><a href="#">15</a></li><li><a href="#">16</a></li><li><a href="#">17</a></li><li><a href="#">18</a></li><li><a href="#">19</a></li><li><a href="#" class="weekend">20</a></li><li><a href="#" class="weekend">21</a></li><li><a href="#">22</a></li><li><a href="#">23</a></li><li><a href="#">24</a></li><li><a href="#">25</a></li><li><a href="#">26</a></li><li><a href="#" class="weekend">27</a></li><li><a href="#" class="weekend">28</a></li><li><a href="#">29</a></li><li><a href="#">30</a></li><li><a href="#">31</a></li>
		      </ol>
		    </div><!-- /month -->
		    
		    <div class="month">
		      <h4><abbr title="Fevereiro">Fev</abbr></h4>
		      <ol>
		        <li><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li><li><a href="#">8</a></li><li><a href="#">9</a></li><li><a href="#">10</a></li><li><a href="#">11</a></li><li><a href="#">12</a></li><li><a href="#">13</a></li><li><a href="#">14</a></li><li><a href="#">15</a></li><li><a href="#">16</a></li><li><a href="#">17</a></li><li><a href="#">18</a></li><li><a href="#">19</a></li><li><a href="#">20</a></li><li><a href="#">21</a></li><li><a href="#">22</a></li><li><a href="#">23</a></li><li><a href="#">24</a></li><li><a href="#">25</a></li><li><a href="#">26</a></li><li><a href="#">27</a></li><li><a href="#">28</a></li> 
		      </ol>
		    </div><!-- /month -->
		    
		    <div class="month">
		      <h4><abbr title="Março">Mar</abbr></h4>
		      <ol>
		        <li><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li><li><a href="#">8</a></li><li><a href="#">9</a></li><li><a href="#">10</a></li><li><a href="#">11</a></li><li><a href="#">12</a></li><li><a href="#">13</a></li><li><a href="#">14</a></li><li><a href="#">15</a></li><li><a href="#">16</a></li><li><a href="#">17</a></li><li><a href="#">18</a></li><li><a href="#">19</a></li><li><a href="#">20</a></li><li><a href="#">21</a></li><li><a href="#">22</a></li><li><a href="#">23</a></li><li><a href="#">24</a></li><li><a href="#">25</a></li><li><a href="#">26</a></li><li><a href="#">27</a></li><li><a href="#">28</a></li><li><a href="#">29</a></li><li><a href="#">30</a></li><li><a href="#">31</a></li>	  
		      </ol>
		    </div><!-- /month -->
		    
		    <div class="month">
		      <h4><abbr title="Abril">Abr</abbr></h4>
		      <ol>
		        <li><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li><li><a href="#">8</a></li><li><a href="#">9</a></li><li><a href="#">10</a></li><li><a href="#">11</a></li><li><a href="#">12</a></li><li><a href="#">13</a></li><li><a href="#">14</a></li><li><a href="#">15</a></li><li><a href="#">16</a></li><li><a href="#">17</a></li><li><a href="#">18</a></li><li><a href="#">19</a></li><li><a href="#">20</a></li><li><a href="#">21</a></li><li><a href="#">22</a></li><li><a href="#">23</a></li><li><a href="#">24</a></li><li><a href="#">25</a></li><li><a href="#">26</a></li><li><a href="#">27</a></li><li><a href="#">28</a></li><li><a href="#">29</a></li><li><a href="#">30</a></li>
		      </ol>
		    </div><!-- /month -->
		    
		    <div class="month">
		      <h4><abbr title="Maio">Mai</abbr></h4>
		      <ol>
		        <li><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li><li><a href="#">8</a></li><li><a href="#">9</a></li><li><a href="#">10</a></li><li><a href="#">11</a></li><li><a href="#">12</a></li><li><a href="#">13</a></li><li><a href="#">14</a></li><li><a href="#">15</a></li><li><a href="#">16</a></li><li><a href="#">17</a></li><li><a href="#">18</a></li><li><a href="#">19</a></li><li><a href="#">20</a></li><li><a href="#">21</a></li><li><a href="#">22</a></li><li><a href="#">23</a></li><li><a href="#">24</a></li><li><a href="#">25</a></li><li><a href="#">26</a></li><li><a href="#">27</a></li><li><a href="#">28</a></li><li><a href="#">29</a></li><li><a href="#">30</a></li><li><a href="#">31</a></li>
		      </ol>
		    </div><!-- /month -->
		    
		    <div class="month">
		      <h4><abbr title="Junho">Jun</abbr></h4>
		      <ol>
		        <li><a href="#"">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li><li><a href="#">8</a></li><li><a href="#">9</a></li><li><a href="#">10</a></li><li><a href="#">11</a></li><li><a href="#">12</a></li><li><a href="#">13</a></li><li><a href="#">14</a></li><li><a href="#">15</a></li><li><a href="#">16</a></li><li><a href="#">17</a></li><li><a href="#">18</a></li><li><a href="#">19</a></li><li><a href="#">20</a></li><li><a href="#">21</a></li><li><a href="#">22</a></li><li><a href="#">23</a></li><li><a href="#">24</a></li><li><a href="#">25</a></li><li><a href="#">26</a></li><li><a href="#">27</a></li><li><a href="#">28</a></li><li><a href="#">29</a></li><li><a href="#">30</a></li>  
		      </ol>
		    </div><!-- /month -->
		    
		    <div class="month">
		      <h4><abbr title="Julho">Jul</abbr></h4>
		      <ol>
		        <li><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li><a href="#">6</a></li><li><a href="#">7</a></li><li><a href="#">8</a></li><li><a href="#">9</a></li><li><a href="#">10</a></li><li><a href="#">11</a></li><li><a href="#">12</a></li><li><a href="#">13</a></li><li><a href="#">14</a></li><li><a href="#">15</a></li><li><a href="#">16</a></li><li><a href="#">17</a></li><li><a href="#">18</a></li><li><a href="#">19</a></li><li><a href="#">20</a></li><li><a href="#">21</a></li><li><a href="#">22</a></li><li><a href="#">23</a></li><li><a href="#">24</a></li><li><a href="#">25</a></li><li><a href="#">26</a></li><li><a href="#">27</a></li><li><a href="#">28</a></li><li><a href="#">29</a></li><li><a href="#">30</a></li><li><a href="#">31</a></li> 
		      </ol>
		    </div><!-- /month -->
		    
		  </div><!-- /year-->
		
		</div><!-- /calendar-->
		
		<div id="dar-search">
		  <h2>Pesquisa</h2>
        <div>
          <img src="../../media/img/icons/dar-search.png" alt="Diários da Assembleia da República" />
          <form action="/search/" method="get">
	        <input class="searchbox" name="q" value="Pesquisar..." /><input type="button" class="search-btn" value="Pesquisar" />
	      </form></div>
		</div>
        
    </div><!-- /#content-box -->
  </div> <!-- /#content -->
  
  <div id="footer">
    <div id="footer-box">
      <ul id="navigation">
        <li><a href="">Sobre</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Disclaimer</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Glossário</a></li>
      </ul>
    </div> <!-- /#footer-box -->
  </div> <!-- /#footer -->
  
</body>
</html>
