<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Transparência Porto :: Deputados</title>

    <link rel="stylesheet" href="../../media/js/uniform/css/uniform.default.css" type="text/css" />
    <link rel="stylesheet" href="../../media/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="../../media/img/favicon.ico" />
  
    <script type="text/javascript" src="../../media/js/scriptaculous/prototype.js"></script>
    <script type="text/javascript" src="../../media/js/scriptaculous/slider.js"></script>
    <script type="text/javascript" src="../../media/js/css_browser_selector.js"></script>
    
    <style type="text/css" media="screen" >
				
			/* put the left rounded edge on the track */
			#track1-left {
				position: absolute;
				width: 12px;
				height: 72px;
				background: transparent url(../../media/img/js-slider/slider-images-track-left.png) no-repeat top left;
			}
			
			/* put the track and the right rounded edge on the track */
			#track1 {
				background: transparent url(../../media/img/js-slider/slider-images-track-right.png) no-repeat top right;
			}

		</style>

  </head>

<body class="home">

  <div id="header">
    <div id="menu-box">
      <ul>
        <li id="small-logo"><a href="/">Democratica</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/">Deputados</a></li>
        <li><a href="/">Sessões</a></li>
      </ul>
    </div> <!-- /#menu-box -->
  </div> <!-- /#header -->
  
  <div id="content">
    <div id="content-box">    
      <h2>Máquina do Tempo</h2>
      
		  <div id="track1" style="width:392px; height:72px;">
			<div id="track1-left"></div><div id="handle1" style="width:40px; height:72px;"><img src="../../media/img/js-slider/slider-images-handle.png" alt="" style="float: left;" /></div>

<!--
      <h2>Horizontal Slider with Preset Values</h2>
		  <div id="track3" style="width:200px; background-color:#ccc; height:10px;">
			<div id="handle3" style="width:10px; height:15px; background-color:#f00; cursor:move;"></div>
  		</div>
  		<p id="debug3">&nbsp;</p>
-->

		</div>
		<div id="debug1">&nbsp;</div>

		<script type="text/javascript" language="javascript">
		// <![CDATA[
		
			// horizontal slider control
			new Control.Slider('handle1', 'track1', {
				onSlide: function(v) { $('debug1').innerHTML = 'slide: ' + v },
				onChange: function(v) { $('debug1').innerHTML = 'changed: ' + v }
			});
			
			// horizontal slider control with preset values
			new Control.Slider('handle3', 'track3', {
				range: $R(-200, 200),
				values: [-200, -150, -100, -50, 0, 50, 100, 150, 200],
				sliderValue: 1, // won't work if set to 0 due to a bug(?) in script.aculo.us
				onSlide: function(v){ $('debug3').innerHTML = 'slide: ' + v },
				onChange: function(v){ $('debug3').innerHTML = 'changed: ' + v }
			});


		// ]]>
		</script>
		

		<script type="text/javascript" charset="utf-8">
			var feedback_widget_options = {};
			feedback_widget_options.display = "overlay";  
			feedback_widget_options.company = "aldenta";
			feedback_widget_options.placement = "right";
			feedback_widget_options.color = "#222";
			feedback_widget_options.style = "idea";
			var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
		</script>

      
        
    </div><!-- /#content-box -->
  </div> <!-- /#content -->
  
  <div id="footer">
    <div id="footer-box">
      <p>Feito na durante a maravilhosa Hackathon no <a href="http://hacklaviva.net">Hacklaviva</a> Porto 2010.</p>
    </div> <!-- /#footer-box -->
  </div> <!-- /#footer -->
  
</body>
</html>
