{% extends "base_dar.html" %}

{% load dartags %}

{% block title %}Sessões parlamentares em {{ year }} &mdash; Demo.cratica (Beta){% endblock %}

{% block extrabodyclass %}no-background{% endblock %}

{% block content %}
    <div id="content-box">
      <h2>Do que se falou?</h2>
      
      <ul id="wordlist">
      {% for year in wordlist %}
      <li><h2>{{ year }}</h2>
        <ul>
         {% for day in wordlist|lookup:year %}
         <a href="{{ day }}">{% for word in wordlist|lookup:year|lookup:day %}<li>{{ word }}</li>{% endfor %}</a>
         {# <p>{% for word in wordlist|lookup:year|lookup:day %}{{ word }}   {% endfor %}</p> #}
         {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
        
    </div><!-- /#content-box -->  
{% endblock %}
