{% extends "base_dar.html" %}

{% load dartags %}

{% block title %}Sessões parlamentares em {{ year }} &mdash; Demo.cratica (Beta){% endblock %}

{% block extrascripts %}
<!-- este script é da pesquisa rápida na lista de deputados, para já só é usado nesta página -->
<script type="text/javascript" src="/media/js/jquery.quicksearch.js"></script>
<script type="text/javascript">
  $(document).ready(function(){  
    $(".searchbox").search();
    
    //este pedaço é usado para chamar a pesquisa rápida
    //só neste template
    $("#wordlist li  a").quicksearch({
    position: 'append',
    attached: '#content-box > h2',
    labelText: null,
    loaderImg: '/media/img/icons/loading-16px.gif',
    inputText: 'Procurar palavras...'
  });
  });
</script>
{% endblock %}

{% block extrabodyclass %}no-background{% endblock %}

{% block content %}
    <div id="content-box">
      <h2 id="wordlist-search">Do que se falou?</h2>
            
      <ul id="wordlist">
      {% for year in wordlist %}
      <li><h3>{{ year }}</h3>
        <ul>
         {% for day in wordlist|lookup:year %}
         <a href="{{ day }}">{% for word in wordlist|lookup:year|lookup:day %}<li>{{ word }}</li>{% endfor %}</a>
         {# <p>{% for word in wordlist|lookup:year|lookup:day %}{{ word }}   {% endfor %}</p> #}
         {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
        
    </div><!-- /#content-box -->  
{% endblock %}
