{% extends "base.html" %}

{% block title %}Login &mdash; Demo.cratica.org (Beta){% endblock %}

{% block extrascripts %}
{% endblock %}


{% block extrabodyclass %}admin{% endblock %}

{% block contentdiv %}
<div id="content-box">
  <div id="login">
    {# Mostrar erros #}
    {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
    <p class="errornote">
    Encontrámos um erro.
    </p>
    {% endif %}

    {% if form.non_field_errors or form.this_is_the_login_form.errors %}
    {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
    <p class="errornote">
        {{ error }}
    </p>
    {% endfor %}
    {% endif %}
    <header id="header">
      <h1>Demo.cratica</h1>
    </header>
    <form>
      <h3>Login para editores e administradores</h3>
      <form method="post">{% csrf_token %}
        <fieldset>
          {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
          <p>
            <label for="id_username" class="required">Utilizador:</label> {{ form.username }}</p>
            {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
          <p>
            <label for="id_password" class="required">Palavra-passe:</label> {{ form.password }}
            <input type="hidden" name="this_is_the_login_form" value="1" />
            <input type="hidden" name="next" value="{{ next }}" />
          </p>
          <p>
            <input type="submit" value="Entrar" />
            {% url 'admin_password_reset' as password_reset_url %}
            {% if password_reset_url %}
            <a href="{{ password_reset_url }}">Bolas, esqueci-me da palavra-passe!</a>
            {% endif %}
          </p>
        </fieldset>
      </form>
  </div>
</div>

{# Seleccionar automaticamente o campo de username #}
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

{% endblock %}



