<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Transparência Porto :: {{ object.shortname }}</title>

    <link rel="stylesheet" href="/media/js/uniform/css/uniform.default.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="/media/img/favicon.ico" />
  
    <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/css_browser_selector.js"></script>
    <script type="text/javascript" src="/media/js/uniform/jquery.uniform.js"></script>
    <script type="text/javascript" src="/media/js/jquery.clear-on-focus.js"></script>
    
    <script type="text/javascript">
      $(document).ready(function(){  
        $(".searchbox").search();
        $("input, textarea, select, button").uniform();
	    });
    </script>
  </head>

<body class="home">

  <div id="header">
    <div id="header-box">
      <h1><a href="index.html">Transparência Hackday Porto</a></h1>
      
      <div id="top-search">
          <form action="/search/" method="get">
	          <input class="searchbox" name="q" value="Pesquisar..." /><input type="image" class="searchicon" src="img/icons/search.png" alt="Pesquisar" />
	        </form>
	      </div>
    </div> <!-- /#header-box -->
  </div> <!-- /#header -->
  
  <div id="menu">
    <div id="menu-box">
      <ul>
        <li><a href="index.html">Home</a></li>
      </ul>
    </div> <!-- /#menu-box -->
  </div> <!-- /#menu -->
  
  <div id="content">
    <div id="content-box">
        <h2>Manuel Xxx</h2> <!-- nome abreviado -->
        
        <ul id="mp-details">
          <li>
            <h4>Nome Completo:</h4>
            <p>Manuel de Abraão Xxx</p>
          </li>
          <li>
            <h4>Profissão:</h4>
            <p>Manuel de Abraão Xxx</p>
          </li>
          <li>
          <li>
            <h4>Partido:</h4>
            <p>Xxxx</p>
          </li>
          <li>
            <h4>Cargos Exercidos:</h4>
            <ul>
              <li>Cargo 1</li>
              <li>Cargo 2</li>
              <li>Cargo 3</li>
              <li>Cargo n</li>
            </ul>
          </li>
          <li>
            <h4>Sessão Legislativa e Círculo Eleitoral / Partido / Actividades:</h4>
            <ul>
              <li>Sessão 1, Partido X, Actividade 1</li>
              <li>Sessão 2, Partido X, Actividade 2</li>
              <li>Sessão 3, Partido Y, Actividade 3</li>
              <li class="current">Sessão n, Partido Y, Actividade n</li>
            </ul>
          </li>
        </ul>
        
        
        <div class="pagination">
          <ul>
            <li id="previous"><a href="">&laquo; Nome do deputado anterior</a></li>
            <li id="next"><a href="">Nome do próximo Deputado &raquo;</a></li>
          </ul>
        </div> <!-- /pagination-->
        
    </div><!-- /#content-box -->
  </div> <!-- /#content -->
  
  <div id="footer">
    <div id="footer-box">
      <p>Feito na durante a maravilhosa Hackathon no <a href="http://hacklaviva.net">Hacklaviva</a> Porto 2010.</p>
    </div> <!-- /#footer-box -->
  </div> <!-- /#footer -->
  
</body>
</html>
