{% extends "base_mp.html" %}
{% load deputags %}

{% block title %}{{ object.shortname }} :: Demo.cratica.org{% endblock %}

{% block extrabodyclass %}default mp{% endblock %}

{% block content %}
    <div id="content-box">
    
      <ul id="mp-tabs" class="tabs">
        <li><span>Geral</span></li>
        <li><a href="stats" title="">Estatísticas</a></li>
      </ul>
      
      <div id="mp-header">
        {% if object.photo %}
          <p class="mp-photo">
            <img src="{{ object.photo.url }}" alt="{{ mp.shortname }}" />
          </p>
        {% endif %}
        <h2>
          {{ object.shortname }}
          <small> <img src="/media/img/parties/cds-pp.png" alt="{{ object.current_party }}" /></small>
        </h2> <!-- nome abreviado -->
      </div>
      
      <div class="mp-information">
      
        <ul class="mp-details mp-details-left">
          <li>
            <h4>Dados</h4>
            <ul>
              <li class="single-field"><h5>Nome completo:</h5> <p>{{ object.name }}</p></li>
              <li class="single-field"><h5>Partido actual:</h5> <p>{{ object.current_party.name }}</p></li>
              {% if object.dob %}
                <li class="single-field"><h5>Data de nascimento:</h5> <p>{{ object.dob }}</p></li>
              {% endif %}
              {% if object.occupation %}
                <li class="single-field"><h5>Profissão:</h5> <p>{{ object.occupation }}</p></li>
              {% endif %}
            </ul>
          </li>
          
          <li>
          {% if object.has_facts %}
            <h4>Habilitações e cargos</h4>
            <ul>
              {% for fact in object.habilitacoes %}
              {% if forloop.first %}<li><h5>Habilitações Literárias</h5></li> {% endif%}
              <li>{{ fact.value }}</li>
              {% endfor %}

              {% for fact in object.cargos_actuais %}
              {% if forloop.first %} <li><h5>Cargos Actuais</h5></li> {% endif%}
              <li>{{ fact.value }}</li>
              {% endfor %}

              {% for fact in object.cargos_exercidos %}
              {% if forloop.first %} <li><h5>Cargos Exercidos</h5></li> {% endif%}
              <li>{{ fact.value }}</li>
              {% endfor %}

              {% for fact in object.comissoes %}
              {% if forloop.first %} <li><h5>Comissões Parlamentares</h5></li> {% endif%}
              <li>{{ fact.value }}</li>
              {% endfor %}

              {% for fact in object.condecoracoes %}
              {% if forloop.first %} <li><h5>Condecorações</h5></li> {% endif%}
              <li>{{ fact.value }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          <li>
            <h4>Sessão Legislativa e Círculo Eleitoral / Partido:</h4>
            <ul>
              {% for caucus in object.caucus_set.all %}
              <li>
              Deputad{{ object.article }} na <a href="/deputados/?session={{ caucus.session.number }}" title="Ver deputados da {{ caucus.session }} Legislatura">{{ caucus.session }} Legislatura</a> 
              pelo <a href="/deputados/?session={{ caucus.session.number }}&party={{ caucus.party.abbrev }}" title="Ver deputados eleitos pelo {{ caucus.party.abbrev }} na {{ caucus.session }} Legislatura">{{ caucus.party.name }}</a> 
              no círculo d{{ caucus.constituency.article }} <a href="/deputados/?session={{ caucus.session.number }}&constituency={{ caucus.constituency.id }}" title="Ver deputados eleitos pelo círculo d{{ caucus.constituency.article }} {{ caucus.constituency }} na {{ caucus.session }} Legislatura">{{ caucus.constituency }}</a>.
              </li>
              {% endfor %}
            </ul>
          </li>
          {% if object.governmentpost_set.all %}
          <li>
            <h4>Cargos governamentais</h4>
            <ul>
            {% for p in object.governmentpost_set.all %}
            <li>G.C. {{ p.government.number }} ({{ p.government.date_started.year }}-{{ p.government.date_ended.year }}): <strong>{{ p.name }}</strong> {% if p.government.date_started != p.date_started %}(desde {{ p.date_started|date:"d M Y"}}){% endif %}{% if p.government.date_ended != p.date_ended %}(até {{ p.date_ended|date:"d M Y"}}){% endif %}</li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% comment %}
          <li>
          {% if object.has_activities %}
            <h4>Actividades:</h4>
            <ul>
              {% for a in object.activity_set.all %}
              <li>{{ a.tipo1 }} - {{ a.tipo2 }}: {{ a.content }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endcomment %}
        </ul>
        
        <ul class="mp-details">
          {% if object.favourite_word %}
          <li>
          <h4>Factos cruciais</h4>
          <ul>
            <li>A palavra preferida de {{ object.shortname }} é <strong>{{ object.favourite_word }}</strong>.
          </ul>
          </li>
          {% endif %}

          <li>
          {% if object.news %}
          <h4>Notícias recentes <small> via Google Notícias</small></h4>
            <ul>
              {% for newsobj in object.news %}
              <li>{{ newsobj|filter_news_tuple }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
  
          {% with object.linkset as l %}
          {% if l.active %}
          <li>
            <h4>Ligações</h4>
            <ul>
              {% if l.email %}<li><a href="mailto:{{ l.email }}">Enviar e-mail</a><small> {{ l.email }}</small></li>{% endif %}
              {% if l.website_url %}<li><a href="http://{{ l.website_url }}">Website</a></li>{% endif %}
              {% if l.blog_url %}<li><a href="http://{{ l.blog_url }}">Blog</a></li>{% endif %}

              {% if l.wikipedia_url %}<li><a href="http://{{ l.wikipedia_url }}">Wikipedia</a></li>{% endif %}
              {% if l.twitter_url %}<li><a href="http://{{ l.twitter_url }}">Twitter</a></li>{% endif %}
              {% if l.facebook_url %}<li><a href="http://{{ l.facebook_url }}">Facebook</a></li>{% endif %}
              {% if l.twitica_url %}<li><a href="http://{{ l.twitica_url }}">Twitica</a></li>{% endif %}
              {% if l.linkedin_url %}<li><a href="http://{{ l.linkedin_url }}">LinkedIn</a></li>{% endif %}
            </ul>
          </li>

            {% if object.tweets %}
          <li class="twitter">
            <h4>Últimos tweets</h4>
            <ul>
              {% for t in object.tweets %}
              <li><a href="http://{{ l.twitter_url }}/statuses/{{ t.id }}">#</a> {{ t.text }} <small>há {{ t.created_at|filter_timestring|timesince }}</small></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
        </ul>
        {% endif %}
        {% endwith %}
        
      </div> <!-- /mp-information -->

    </div><!-- /#content-box -->
{% endblock %}
