{% extends "base_mp.html" %}

{% load deputags %}

{% block title %}Deputados &mdash; Demo.cratica (Beta){% endblock %}

{% block extrascripts %}
<!-- este script é da pesquisa rápida na lista de deputados, para já só é usado nesta página -->
<script type="text/javascript" src="/media/js/jquery.quicksearch.js"></script>
<script type="text/javascript">
  $(document).ready(function(){  
    $(".searchbox").search();
    
    //este pedaço é usado para chamar a pesquisa rápida
    //só neste template
    $(".mp-list > li").quicksearch({
    position: 'prepend',
    attached: '.mp-filters',
    labelText: null,
    loaderImg: '/media/img/icons/loading-16px.gif',
    inputText: 'Filtrar...'
  });
  });
</script>
{% endblock %}

{% block content %}
<div id="content-box">
    {# Todos #}
    {% if legislature == 'all' and party == 'all' and constituency == 'all' %}
    <h2 class="ribbon">Todos os Deputados</h2>
    {% endif %}
    {# Legislatura #}
    {% if legislature != 'all' and party == 'all' and constituency == 'all' %}
    <h2 class="ribbon">Deputados na {{ legislature|toroman }} Legislatura</h2>
    {% endif %}
    {# Partido #}
    {% if legislature == 'all' and party != 'all' and constituency == 'all' %}
    <h2 class="ribbon">Deputados do {{ party|upper }}</h2>
    {% endif %}
    {# Círculo #}
    {% if legislature == 'all' and party == 'all' and constituency != 'all' %}
    <h2 class="ribbon">Deputados eleitos por {{ constituency }}</h2>
    {% endif %}
    {# Legislatura + Partido #}
    {% if legislature != 'all' and party != 'all' and constituency == 'all' %}
    <h2 class="ribbon">Deputados do {{ party|upper }} na {{ legislature|toroman }} Legislatura</h2>
    {% endif %}
    {# Legislatura + Círculo #}
    {% if legislature != 'all' and party == 'all' and constituency != 'all' %}
    <h2 class="ribbon">Deputados na {{ legislature|toroman }} Legislatura eleitos por {{ constituency }}</h2>
    {% endif %}
    {# Partido + Círculo #}
    {% if legislature == 'all' and party != 'all' and constituency != 'all' %}
    <h2 class="ribbon">Deputados do {{ party|upper }} eleitos por {{ constituency }}</h2>
    {% endif %}
    {# Legislatura + Partido + Círculo #}
    {% if legislature != 'all' and party != 'all' and constituency != 'all' %}
    <h2 class="ribbon">Deputados do {{ party|upper }} na {{ legislature|toroman}} Legislatura eleitos por {{ constituency }}</h2>
    {% endif %}


    
    <form id="all-mp">
      <ul class="mp-filters">
        <li><strong>Legislatura:</strong>
          <select name="legislature">
            <option value="all"{% if legislature == 'all' %} selected="selected"{% endif %}>Todas</option>
            {% for s in legislatures %}
            <option value="{{ s.number }}"{% if s.number == legislature %} selected="selected"{% endif %}>{{ s }} ({{ s.date_start.year }}-{{ s.date_end.year }})</option>
            {% endfor %}
          </select>
        </li>
        <li><strong>Partido:</strong>
           <select name="party">
             <option value="all"{% if party == 'all' %} selected="selected"{% endif %}>Todos</option>
            {% for p in parties %}
            <option value="{{ p.abbrev }}"{% if p.abbrev == party %} selected="selected"{% endif %}>{{ p.abbrev }}</option>
            {% endfor %}
          </select>
        </li>
        <li><strong>Círculo eleitoral:</strong>
          <select name="constituency">
            <option value="all"{% if constituency == 'all' %} selected="selected"{% endif %}>Todos</option>
            {% for c in constituencies %}
            <option value="{{ c.id }}"{% if c.id == constituency %} selected="selected"{% endif %}>{{ c.name }}</option>
            {% endfor %}
          </select>
        </li>
        <li><input id="mp-filter" type="submit" value="Mostrar" style="background-color:red !important;" /></li>        
      </ul>
    </form>
    
    {% for queryset in querysets %}
    
    <ul class="mp-list{% if forloop.last %} last{% endif %}">
      {% for mp in queryset %}   
        <li class="{% cycle odd even %}"><a href="/deputados/{{ mp.id }}">
          {% comment %}
          {% if mp.photo %}
          <span class="photo"><img src="{{ mp.photo.url_18x25 }}" alt="{{ mp.shortname }}" /></span>
          {% else %}
          <span class="photo"></span>
          {% endif %}
          {% endcomment %}
          <span class="party {{ mp.current_party|lower }}">{{ mp.current_party }}</span>
          <span class="name">{{ mp.shortname }}</span>
        </a></li>
      {% endfor %}
    </ul>
    {% endfor %}

    <ul class="pagination">
      <li><p class="notice">Versão Beta: Esta lista pode estar incompleta e/ou conter incorrecções.</p></li>
    {% comment %}
      <li id="previous"><a href="">&laquo; Anterior</a></li>
      <li id="pg-nav">
        <ul>
          {% for p in page_range %}
          {% if forloop.first %} <li class="first"> {% else %} <li> {% endif %}
          <a href='&page={{ p }}'{% if p == page %} class="on"{% endif %}>{{ p }}</a>
          </li>
          {% endfor %}

          <li class="first"><a href="" class="on">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li>...</li>
          <li class="last"><a href="">12</a></li>
        </ul></li>
      <li id="next"><a href="">Próximo &raquo;</a></li>
    {% endcomment %}
    </ul><!-- /pagination-->
    
</div><!-- /#content-box -->
{% endblock %}
