{% extends "base_mp.html" %}

{% block title %} Deputados :: Demo.cratica.org{% endblock %}

{% block extrascripts %}
<!-- este script é da pesquisa rápida na lista de deputados, para já só é usado nesta página -->
<script type="text/javascript" src="/media/js/jquery.quicksearch.js"></script>
<script type="text/javascript">
  $(document).ready(function(){  
    $(".searchbox").search();
    
    //este pedaço é usado para chamar a pesquisa rápida
    //só neste template
    $(".mp-list > li").quicksearch({
    position: 'prepend',
    attached: '.mp-filters',
    labelText: null,
    loaderImg: '/media/img/icons/loading-16px.gif',
    inputText: 'Filtrar...'
  });
  });
</script>
{% endblock %}

{% block content %}
<div id="content-box">
    <h2 class="ribbon">Deputados</h2>
    
    <form id="all-mp">
      <ul class="mp-filters">
        <li><strong>Legislatura:</strong>
          <select name="session">
            <option value="all"{% if session == 'all' %} selected="selected"{% endif %}>Todas</option>
            {% for s in sessions %}
            <option value="{{ s.number }}"{% if s.number == session %} selected="selected"{% endif %}>{{ s }} ({{ s.number }})</option>
            {% endfor %}
          </select>
        </li>
        <li><strong>Partido:</strong>
          <select name="party">
            <option value="all"{% if party == 'all' %} selected="selected"{% endif %}>Todos</option>
            {% for p in parties %}
            <option value="{{ p.abbrev }}"{% if p.abbrev == party %} selected="selected"{% endif %}>{{ p.abbrev }}</option>
            {% endfor %}
          </select>
        </li>
        <li><strong>Círculo eleitoral:</strong>
          <select name="constituency">
            <option value="all"{% if constituency == 'all' %} selected="selected"{% endif %}>Todos</option>
            {% for c in constituencies %}
            <option value="{{ c.id }}"{% if c.id == constituency %} selected="selected"{% endif %}>{{ c.name }}</option>
            {% endfor %}
          </select>
        </li>
        <li><input id="mp-filter" type="submit" value="Mostrar" style="background-color:red !important;" /></li>        
      </ul>
    </form>
    
    {% for queryset in querysets %}
    
    <ul class="mp-list{% if forloop.last %} last{% endif %}">
      {% for mp in queryset %}   
        <li class="{% cycle odd even %}"><a href="/deputados/{{ mp.id }}">
          {% comment %}
          {% if mp.photo %}
          <span class="photo"><img src="{{ mp.photo.url_18x25 }}" alt="{{ mp.shortname }}" /></span>
          {% else %}
          <span class="photo"></span>
          {% endif %}
          {% endcomment %}
          <span class="name">{{ mp.shortname }}</span>
          <span class="party {{ mp.current_party|lower }}">{{ mp.current_party }}</span>
        </a></li>
      {% endfor %}
    </ul>
    {% endfor %}

    <ul class="pagination">
      <li id="previous"><a href="">&laquo; Anterior</a></li>
      <li id="pg-nav">
        <ul>
          {% for p in page_range %}
          {% if forloop.first %} <li class="first"> {% else %} <li> {% endif %}
          <a href='&page={{ p }}'{% if p == page %} class="on"{% endif %}>{{ p }}</a>
          </li>
          {% endfor %}

          {% comment %}
          <li class="first"><a href="" class="on">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li>...</li>
          <li class="last"><a href="">12</a></li>
          {% endcomment %}
        </ul></li>
      <li id="next"><a href="">Próximo &raquo;</a></li>
    </ul><!-- /pagination-->
    
</div><!-- /#content-box -->
{% endblock %}
