* {
margin: 0;
padding: 0;
}

img {
border: 0;
}

html {
height: 100%;
background: #373e48 url(img/bg-texture-blue.png) repeat 0 0;
}

body {
height: 100%;
font-size: 70%;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
line-height: 1.6em;
color: #333;
}

#header {
text-align: center;
color: #fff;
padding: 80px 0 40px;
width: 384px;
margin: 0 auto;
}

#header h1 {
font-size: 100%;
line-height: 1;
display: block;
width: 384px;
height: 0;
padding: 278px 0 0;
background: transparent url(img/democratica.png) no-repeat 0 center;
overflow: hidden;
}


