     
      <div id="multi-col" class="long-text">
          <p class="intro">O Demo.cratica é um projecto independente, livre e autónomo dedicado a oferecer uma nova visão sobre o Parlamento Português.</p>
        <div class="col left-col">     
          <h4>Princípios</h4>
          <dl>
            <dt>Livre acesso sem restrições</dt>
            <dd>O Demo.cratica é, e será, um website de acesso livre e gratuito. No Demo.cratica não há, nem haverá, lugar a anúncios pagos ou conteúdos restritos.</dd>
            <dt>Software livre</dt>
            <dd>O Demo.cratica é integralmente construído com recurso a software livre. E seguindo o seu espírito, o código fonte do website é também software livre, permitindo a qualquer pessoa a sua análise, modificação e redistribuição segundo os termos da licença livre AGPL.</dd>
            <dt>Neutralidade</dt>
            <dd>Não existe qualquer edição ou manipulação de conteúdos no Demo.cratica, para além da redacção e remoção de elementos secundários das transcrições. </dd>
          </dl>
          <h4>Quem</h4>
          <p>A concepção e autoria do website é da <a href="http://manufacturaindependente.org" title="Manufactura Independente">Manufactura Independente</a>, um estúdio de investigação de metodologias livres no design, composto por Ana Carvalho e Ricardo Lafuente. A Manufactura Independente é responsável pela manutenção do site, processamento de conteúdos, design do interface e estruturas de informação.</p>
          <p>As entidades envolvidas neste projecto são:</p>
          <ul>
            <li><a href="http://hacklaviva.net" title="Hacklaviva">Hacklaviva</a>, um espaço de emancipação tecnológica (hackerspace) baseado no Porto</li>
            <li><a href="http://transparencia.hacklaviva.net" title="Transparência Hackday Porto">Transparência Hackday Porto</a>, um núcleo surgido no Hacklaviva dedicado à libertação e análise das bases de dados de informação pública. O Demo.cratica incorpora o trabalho de extracção e processamento de informação dos deputados realizado no Transparência Hackday.</li>
            <li><a href="http://unimos.net" title="Unimos.net">Unimos.net</a>, associação baseada na Nazaré, dedicada ao desenvolvimento, investigação e implementação de redes sem-fios comunitárias; a Unimos.net associou-se solidariamente ao Demo.cratica fornecendo a certificação de identidade SSL e o alojamento e apoio tecnológico necessário.</li>
          </ul>
       </div>
        
        <div class="col">
          <h4>Como</h4>
          <p>Tecnicamente, o Demo.cratica consiste em duas partes: um conjunto de ferramentas de extracção, análise e catalogação da informação pública, e um website para mostrar essa informação de uma forma simples e eficaz.</p>
          <p>O Demo.cratica existe graças ao trabalho levado a cabo no Transparência Hackday Porto, onde têm sido desenvolvidas formas de organizar, compreender e catalogar bases de dados de informação pública em Portugal. É no
          Transparência que foram criadas as bases de informação individual dos deputados que o Demo.cratica utiliza nas suas páginas de informação. Grande parte das ferramentas de extracção acima mencionadas também foram criadas nos Transparência
          Hackdays Porto. As pessoas envolvidas neste esforço são (em ordem alfabética) <a href="http://anacarvalho.org">Ana Carvalho</a>, Cláudia Amorim, <a href="http://eduardomorais.com">Eduardo Morais</a>, <a href="http://medecau.com">Pedro
            Rodrigues</a>, <a href="http://ricardo.koizo.org">Ricardo Lafuente</a>, <a href="http://saritamoreira.com">Sara Moreira</a>, Tiago Assis, Victor Cardoso e <a href="http://twitter.com/vitorsilva">Vítor Silva</a>.</p>
          <p>O Demo.cratica surgiu como ideia e começou a ganhar forma na Open Data Hackathon, um evento anual internacional que propõe um dia dedicado a um "sprint" de trabalho e reflexão sobre a informação pública e formas de a analisar e publicar. Para corresponder a esta data, foi organizado no Hacklaviva um fim-de-semana inteiro onde foram idealizadas e desenvolvidas formas de localização geográfica, documentação, filtragem e catalogação dos dados públicos.</p>
          <p>O uso de software livre e de formatos livres é uma parte fundamental do Demo.cratica. Recorrendo a excelentes ferramentas livres, foi possível recolher e processar a informação pública para que ela possa ser re-publicada em formatos livres. Ao mesmo tempo, toda a concretização prática do Demo.cratica foi possível graças ao uso integral de software livre. De forma a retribuir o esforço das pessoas e entidades que libertaram estas ferramentas, bem como compartilhar do seu espírito de comunidade e curiosidade, o Demo.cratica é também disponibilizado como software livre.</p>
          <p>Ao longo de 9 meses, o Demo.cratica foi ganhando a forma com a qual é agora apresentado. Enquanto que os esforços na sua concepção e concretização foram muito significativos, o custo material da sua realização foram sensivelmente 30 euros -- o custo do registo do domínio cratica.org (bem como .com e .net). Entre os vários benfeitores, a unimos.net cedeu-nos solidária e generosamente o alojamento e apoio técnico necessário, e a <a href="http://www.gesto-coop-cultural.pt/" title="Gesto, Cooperativa Cultural">Gesto CRL</a> cedeu-nos o espaço físico que permitiu organizar os Transparência Hackdays.</p>
          <p>Tendo em conta as incontáveis horas e atenção dedicadas ao projecto, tendo em conta a mão-de-obra, planeamento e custos não financeiros envolvidos, atrevemo-nos a estimar que o seu valor e hipotético custo real seja não menos do que 50 000€. E é por ter um valor tão relevante que o decidimos dar.</p>
          <p>Ainda há trabalho por fazer: o principal objectivo é conseguir processar e disponibilizar as transcrições da AR desde 1976. Também há muitos pormenores no site que queremos afinar. Assim, a presente encarnação do Demo.cratica é ainda uma versão beta; a versão '1.0' do site está planeada para Setembro de 2011. A partir daí, o Demo.cratica cobrirá continuamente a XII Legislatura, à medida que o site do Parlamento publique as transcrições.</p> 
          
          <p class="email">Para qualquer assunto, a equipa do site pode ser contactada em <a href="mailto:contacto@cratica.org">contacto@cratica.org</a>.</p>

        </div>
        
      </div> <!-- /#multi-col -->
