<!-- Intervencao de deputado - inicio -->
{% load dartags %}
{% with mpdict|lookup:entry.mp_id as mp %}
  <div class="left">
    <p class="mp-photo"><a href="/deputados/{{ mp.id }}" class="avatar-colorbar {{ mp.party_abbrev|lower }}"><img src="{{ mp.photo.url_60x79 }}" alt="{{ mp.shortname }}" /></a></p>
    <h3 class="mp-name"><a href="/deputados/{{ mp.id }}">{{ mp.shortname }}</a></h3>
    {# {% if mp|get_post_on:gov %} <h4>{{ mp|get_post_on:gov }}</h4> {% endif %} #}
    <p class="party {{ mp.party_abbrev|lower }}">{{ mp.party_abbrev }}</p>
    <p class="circle {{ mp.party_abbrev|lower }}">{{ mp.constituency }}</p>
  </div> <!-- /left -->
  <div class="right">
    <p class="popup" id="popup-button-{{ entry.id }}">
      <label>Link desta intervenção:</label> <input type="text" value="http://demo.cratica.org{{ entry.get_absolute_url }}" /><span class="close">X</span>
    </p>  
    <div class="entry-content edit_area" id="Entry_raw_text_{{ entry.id }}">
      {{ entry.text_as_html }}
    </div>
    <ul class="social">
      <li><a href="https://www.facebook.com/dialog/feed?app_id=220055821445206&link=http://demo.cratica.org{{ entry.get_absolute_url }}&picture=http://demo.cratica.org:7080/media/img/democratica-white-small.png&name=Demo.cratica&caption={{ entry.day.date }}&description={{ entry.raw_text|truncatewords:40 }}&redirect_uri=http://demo.cratica.org{{ entry.get_absolute_url }}" class="facebook" name="fb_share" id="facebook-{{ entry.id }}" title="Partilhar no Facebook">Facebook</a></li>
      {# <li><a href="http://twitter.com/share?text={% if entry.mp %}{{ entry.mp }}{% else %}{{ entry.speaker }}{% endif %}: {{ entry.text|truncatewords:5 }}&amp;via=demo_cratica&amp;url=http://demo.cratica.org{{ entry.get_absolute_url }}" class="twitter" id="twitter-{{ entry.id }}" title="Partilhar no Twitter" target="_blank">Tweet</a></li> #}
      <li><a class="url" id="url-{{ entry.id }}" href="javascript:showonlyone('popup-button-{{ entry.id }}');">Link</a></li>
    </ul>
    {% if request.user.is_authenticated %}
    <ul class="actionbar">
      <li><a href="javascript:mark_as_cont({{ entry.id }});">Marcar como <strong>continuação</strong></a></li>
      <li><a href="javascript:mark_as_aside({{ entry.id }});">Marcar como <strong>aparte</strong></a></li>
      <li><a href="javascript:correct_newlines({{entry.id}})">Corrigir quebras de linha</a></li>
    </ul>
    {% endif %}
  </div> <!-- /right -->
{% endwith %}
