<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Demo.cratica :: Erro no servidor</title>

    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="img/favicon.ico" />
    
    
    <script type="text/javascript" src="/media/js/css_browser_selector.js"></script>

  </head>

<body id="error">

  <div id="page">
  
  <div id="content">
    
      <div id="header">
        <h1>Democratica</h1>
	    
	      <div class="box">
	        <h2>Erro no servidor.</h2>
        </div>

  </div> <!-- /#content -->
 
 </div> <!-- /#page -->
  
  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23418283-1']);
    _gaq.push(['_setDomainName', '.cratica.org']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
