{% extends "base.html" %}

{% block title %}Sobre :: Demo.cratica.org{% endblock %}

{% block extrabodyclass %}default{% endblock %}

{% block contentdiv %}
    <div id="content-box">
      <h2>Sobre o Demo.cratica</h2> <!-- nome abreviado -->
      
      <h3>Como surge a ideia para este projecto?</h3>
      <p>Primeira sessão de Transparência organizada pelo Hacklaviva, no Porto, em Junho 2010. Hackathon mundial pelos Dados Abertos, no dia 4 de Dezembro....</p>
      <p>Phasellus lorem ante, volutpat eu elementum eget, aliquam sit amet leo. Proin id interdum ipsum. Praesent placerat vestibulum nibh, ac facilisis elit accumsan eu. Sed ac nibh magna. Fusce eget mi nisi. Etiam sem metus, ornare quis dictum a, laoreet vel orci. Praesent tempor felis eget velit sodales a tempor neque faucibus. Praesent semper mattis metus id ornare. Phasellus venenatis est a sapien fringilla tincidunt in vel ante. Vestibulum et quam mattis mi aliquet posuere.</p>
      
      <h3>Quais eram os objectivos?</h3>
      <p>Sed nec nisl vel mauris euismod pharetra quis et augue. Sed dui tellus, viverra et tincidunt ut, scelerisque sed nunc. Suspendisse potenti. Etiam sit amet auctor nunc. Nam a dui quam, nec sollicitudin lectus. Aenean dapibus dignissim sapien sed aliquet. Aenean diam mi, porttitor sed tincidunt non, vestibulum nec augue. Vivamus volutpat justo a libero pulvinar et pellentesque lectus placerat.</p>
      
      <h3>Como surge a ideia para este projecto?</h3>
      <p>Somos os maiores!</p>
      <p>Phasellus lorem ante, volutpat eu elementum eget, aliquam sit amet leo. Proin id interdum ipsum. Praesent placerat vestibulum nibh, ac facilisis elit accumsan eu. Sed ac nibh magna. Fusce eget mi nisi. Etiam sem metus, ornare quis dictum a, laoreet vel orci. Praesent tempor felis eget velit sodales a tempor neque faucibus. Praesent semper mattis metus id ornare. Phasellus venenatis est a sapien fringilla tincidunt in vel ante. Vestibulum et quam mattis mi aliquet posuere.</p>
      
        
    </div><!-- /#content-box -->
  
{% endblock contentdiv %}
