{% extends "base.html" %}

{% block title %}Sobre :: Demo.cratica.org{% endblock %}

{% block extrabodyclass %}default static{% endblock %}

{% block contentdiv %}
    <div id="content-box">
      <h2>Sobre o Demo.cratica</h2> <!-- nome abreviado -->
      
      <div id="multi-col">
        <div class="col">
          <h3>Como surge a ideia para este projecto?</h3>
          <div id="grafproporcao" style="width: 290px; height: 290px; margin: 0 auto"></div>
        </div>
        
        <div class="col">
          <h3>Quais eram os objectivos?</h3>
          <div id="grafmuitobem" style="width: 290px; height: 290px; margin: 0 auto"></div>
        </div>
        
        <div class="col">
          <h3>Como surge a ideia para este projecto?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies accumsan metus in adipiscing. Cras tincidunt metus ac massa mattis sagittis. Quisque fringilla congue porttitor. Nam pharetra lobortis lorem quis.</p>
        </div>
        
      </div> <!-- /#multi-col -->
      
    </div><!-- /#content-box -->
  
{% endblock contentdiv %}
