<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Demo.cratica{% endblock %}</title>

    <link rel="stylesheet" href="/media/js/uniform/css/uniform.default.css" type="text/css" />
    <link rel="stylesheet" href="/media/js/sexy-tooltips/sexy-tooltips.v1.1.jquery.min.js" type="text/css" />
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="/media/img/favicon.ico" />
  
    <script type="text/javascript" src="/media/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/media/js/css_browser_selector.js"></script>
    <script type="text/javascript" src="/media/js/uniform/jquery.uniform.js"></script>
    <script type="text/javascript" src="/media/js/jquery.clear-on-focus.js"></script>
    <script type="text/javascript" src="/media/js/sexy-tooltips/sexy-tooltips.v1.1.jquery.min.js"></script>
    {% block extrascripts %}{% endblock %}
    
    <script type="text/javascript">
      $(document).ready(function(){  
        $(".searchbox").search();
        $("input, textarea, select, button").not(".search-btn").uniform();
	    });
    </script>
  </head>

<body class="{% block extrabodyclass %}default{% endblock %}">  
  <div id="menu">
    <div id="menu-box">
      <ul>
        <li id="homepage"><a href="/">Demo.cratica</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/deputados/">Deputados</a></li>
        <li><a href="/dar/">Sessões</a></li>
        <li><a href="/about/">Acerca</a></li>
        {# <li><a href="">Contacto</a></li> #}
        <li id="search">
              <form method="get" action="/pesquisa/">
                <input class="searchbox" type="text" name="q" value="Pesquisa..." /><input type="submit" class="search-btn" value="Ir" />
            </form>
	      </li>
      </ul>
    </div> <!-- /#menu-box -->
  </div> <!-- /#menu -->
  
  <div id="content">
    {% block contentdiv %}{% endblock %}
  </div> <!-- /#content -->

  {% comment %}  
  <div id="footer">
    <div id="footer-box"> 
      <ul id="navigation">
        <li><a href="/about">Acerca</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Termos e Condições</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Glossário</a></li>
      </ul>
    </div> <!-- /#footer-box -->
  </div> <!-- /#footer -->
  {% endcomment %}
  
  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23418283-1']);
    _gaq.push(['_setDomainName', '.cratica.org']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  </body>
</html>


