<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Demo.cratica{% endblock %}</title>

    <link rel="stylesheet" href="/media/js/uniform/css/uniform.default.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="/media/img/favicon.ico" />
  
    <script type="text/javascript" src="/media/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/media/js/css_browser_selector.js"></script>
    <script type="text/javascript" src="/media/js/uniform/jquery.uniform.js"></script>
    <script type="text/javascript" src="/media/js/jquery.clear-on-focus.js"></script>
    {% block extrascripts %}{% endblock %}
    
    <script type="text/javascript">
      $(document).ready(function(){  
        $(".searchbox").search();
        $("input, textarea, select, button").uniform();
	    });
    </script>
  </head>

<body class="{% block extrabodyclass %}default{% endblock %}">

  <div id="menu">
    <div id="menu-box">
      <ul>
        <li id="homepage"><a href="/">Demo.cratica</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/deputados/">Deputados</a></li>
        <li><a href="/about/">Sobre</a></li>
      </ul>
    </div> <!-- /#menu-box -->
  </div> <!-- /#menu -->
  
  <div id="content">
    {% block contentdiv %}{% endblock %}
  </div> <!-- /#content -->
  
  <div id="footer">
    <div id="footer-box"> 
      <ul id="navigation">
        <li><a href="">Sobre</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Disclaimer</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Glossário</a></li>
      </ul>
    </div> <!-- /#footer-box -->
  </div> <!-- /#footer -->
  
</body>
</html>


