<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Demo.cratica :: Compatibilidade de browser</title>

    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="img/favicon.ico" />
    
    
    <script type="text/javascript" src="/media/js/css_browser_selector.js"></script>

  </head>

<body id="error">

  <div id ="page">
  
  <div id="content">
    
      <div id="header">
        <h1>Democratica</h1>
	    
	      <div class="box">
	        <h2>O Demo.cratica não está optimizado para Internet Explorer 6.</h2>
	        <p class="first">O Internet Explorer 6 é neste momento um browser em processo de rápido declínio. Apesar de ainda ser suportado pela Microsoft, apresenta graves falhas de segurança e não cumpre os standards actuais da web, prejudicando factores como a acessibilidade e usabilidade de uma página web. Actualmente muitas empresas deixaram de oferecer suporte para este browsear nos seus sites, entre elas a Google. Mais informação na página da Wikipédia sobre o <a href="http://pt.wikipedia.org/wiki/Internet_Explorer_6" title="Internet Explorer 6, página da Wikipedia">Internet Explorer 6</a>.</p>
	        
          <p>Sugerimos a actualização para a <a href="http://windows.microsoft.com/pt-PT/windows/home">versão mais recente do IE</a> ou, melhor ainda, a instalação de uma alternativa livre como o excepcional <a href="http://br.mozdev.org/download/?lang=pt-PT">Mozilla Firefox</a>.</p>
          
          <p class="goto-website"><a href="/">Sei que vou encontrar problemas, mas quero seguir para o Demo.cratica &raquo;</a></p>
        </div>

  </div> <!-- /#content -->
 
 </div> <!-- /#page -->
  
  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23418283-1']);
    _gaq.push(['_setDomainName', '.cratica.org']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
