<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta property="og:image" content="https://demo.cratica.org/media/img/democratica-white.png"/>
    <meta property="og:title" content="Demo.cratica"/>
    <meta property="og:description" content="A forma fácil de ler o Parlamento. Um site independente para saber quem são e o que dizem os deputados da Assembleia da República Portuguesa."/>

    <title>Demo.cratica :: Início</title>

    <link rel="stylesheet" href="/media/js/uniform/css/uniform.default.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="/media/img/favicon.ico" />
  
    
    <script type="text/javascript" src="/media/js/css_browser_selector.js"></script>
    <script type="text/javascript" src="/media/js/jquery-1.5.2.min.js"></script>
    
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/lib/jquery.js"%3E%3C/script%3E'));</script>
    <script type="text/javascript" src="/media/js/smooth-scroll/jquery.smooth-scroll.js"></script>
    <script type="text/javascript" src="/media/js/smooth-scroll/lib/jquery.ba-bbq.js"></script>
  
    <script>
      $(document).ready(function() {
        
        $('a#reveal-button').live('click', function() {
          $.bbq.pushState( '#/' + this.hash.slice(1) );
          
          $('div#mais').addClass("expanded");
          return false;
          
        
        });
        
        $(window).bind('hashchange', function(event) {
          
          if (location.hash) {
            var tgt = location.hash.replace(/#\//,'');
          } else {
            var tgt = '#up';
          }
          $.smoothScroll({scrollTarget: '#' + tgt});
        });
        
        $(window).trigger('hashchange');

      
      });
      
    </script>
    
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23418283-1']);
      _gaq.push(['_setDomainName', '.cratica.org']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>

<body id="home">

  <div id ="page">
  
  <div id="content">
    
      <div id="header">
        <h1>Democratica</h1>
        <p>Um repositório de informação sobre a Assembleia da República Portuguesa.</p>
        <p class="beta">Estamos em versão <strong>beta</strong>, o que significa que ainda há erros e partes incompletas. Caso seja necessária informação de fiabilidade garantida, é melhor consultar o site do <a href="http://www.parlamento.pt">Parlamento</a>.</p>
	    </div>
	    
	    <div id="main">
        <a class="box" href="{% url mp_list %}">
	        <h2>Quem são</h2>
	        <p>Ver informações, notícias e outros dados sobre os deputados desde 1976.</p>
	      </a>
	      
        <a class="box right" href="{% url calendar %}">
	        <h2>O que dizem</h2>
	        <p>Ler, pesquisar e consultar as sessões da Assembleia da República.</p>
	      </a>
	    </div>
  </div> <!-- /#content -->
  
  <div id="about">
  
    <p class="follow-twitter">Estamos no <a href="http://identi.ca/demo_cratica">identi.ca</a> e no <a href="http://twitter.com/demo_cratica">Twitter</a></p>
  
  {% comment %}
    <ul id="navigation">
      <li><a href="/">Início</a></li>
      <li><a href="/acerca">Acerca</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">Termos e Condições</a></li>
      <li><a href="">Contacto</a></li>
      <li><a href="">Glossário</a></li>
    </ul>
  {% endcomment %}
    <a href="#mais" id="reveal-button"><h3>O que é o Demo.cratica?</h3></a>

   </div> <!-- /#about-->
 
   <div id="mais">
   {% include 'snippets/texto-acerca.html' %}
   </div> <!-- /#more-box -->
 
 </div> <!-- /#page -->

</body>
</html>
