<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Demo.cratica :: Homepage</title>

    <link rel="stylesheet" href="/media/js/uniform/css/uniform.default.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="img/favicon.ico" />
  
    <script type="text/javascript" src="/media/js/jquery-1.5.2.min.js"></script>
    
    
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/lib/jquery.js"%3E%3C/script%3E'));</script>
    <script type="text/javascript" src="/media/js/smooth-scroll/jquery.smooth-scroll.js"></script>
    <script type="text/javascript" src="/media/js/smooth-scroll/lib/jquery.ba-bbq.js"></script>
  
    <script>
      $(document).ready(function() {
        
        $('a#reveal-button').live('click', function() {
          $.bbq.pushState( '#/' + this.hash.slice(1) );
          
          $('div#more-info').addClass("expanded");
          return false;
          
        
        });
        
        $(window).bind('hashchange', function(event) {
          
          if (location.hash) {
            var tgt = location.hash.replace(/#\//,'');
          } else {
            var tgt = '#up';
          }
          $.smoothScroll({scrollTarget: '#' + tgt});
        });
        
        $(window).trigger('hashchange');

      
      });
      
    </script>

  </head>

<body id="home">

  <div id ="page">
  
  <div id="content">
    
      <div id="header">
        <h1><a href="/">Democratica</a></h1>
        <p>Um repositório de informação sobre a Assembleia da República Portuguesa.</p>
	    </div>
	    
	    <div id="main">
        <a class="box" href="/deputados/">
	        <h2>Quem são</h2>
	        <p>Ver informações, notícias e outros dados sobre todos os deputados desde 1976.</p>
	      </a>
	      
	      <a class="box right" href="/dar/">
	        <h2>O que dizem</h2>
	        <p>Ler, pesquisar e consultar as sessões da Assembleia da República.</p>
	      </a>
	    </div>
  </div> <!-- /#content -->
  
  <div id="about">
  
    <ul id="navigation">
      <li><a href="/about/">Acerca</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">Disclaimer</a></li>
      <li><a href="">Contacto</a></li>
      <li><a href="">Glossário</a></li>
    </ul>
      
    <a href="#more-info" id="reveal-button"><h3>O que é o Demo.cratica?</h3></a>
       
 </div> <!-- /#about-->
 
 <div id="more-info">
  <div id="more-box">
      
         <div class="col clear">
          <h4>O que é o Demo.cratica?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies accumsan metus in adipiscing. Cras tincidunt metus ac massa mattis sagittis. Quisque fringilla congue porttitor. Nam pharetra lobortis lorem quis.</p>
          
          <h4>Quais eram os objectivos?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies accumsan metus in adipiscing. Cras tincidunt metus ac massa mattis sagittis. Quisque fringilla congue porttitor. Nam pharetra lobortis lorem quis.</p>
          <ul>
            <li>Era uma vez um</li>
            <li>Dois</li>
            <li>Três</li>
            <li>Quatro</li>
            <li>Cinco</li>
            <li>E viveram felizes para sempre</li>
          </ul>
          
          <h4>Quais eram os objectivos?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies accumsan metus in adipiscing. Cras tincidunt metus ac massa mattis sagittis. Quisque fringilla congue porttitor. Nam pharetra lobortis lorem quis.</p>
          
         </div>
        
        <div class="col">
          <h4>Quais eram os objectivos?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies accumsan metus in adipiscing. Cras tincidunt metus ac massa mattis sagittis. Quisque fringilla congue porttitor. Nam pharetra lobortis lorem quis.</p>
          
          <h4>Quais eram os objectivos?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies accumsan metus in adipiscing. Cras tincidunt metus ac massa mattis sagittis. Quisque fringilla congue porttitor. Nam pharetra lobortis lorem quis.</p>
          
          <h4>Quais eram os objectivos?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies accumsan metus in adipiscing. Cras tincidunt metus ac massa mattis sagittis. Quisque fringilla congue porttitor. Nam pharetra lobortis lorem quis.</p>
        </div>
        
      <p class="up"><a href="#up">Voltar</a></p>
      
    </div>
  </div> <!-- /#more-box -->
 
 </div> <!-- /#page -->
  
  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23418283-1']);
    _gaq.push(['_setDomainName', '.cratica.org']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
