<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Democratica :: Homepage</title>

    <link rel="stylesheet" href="/media/js/uniform/css/uniform.default.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print" />
  
    <link rel="shortcut icon" href="img/favicon.ico" />
  
    <script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/css_browser_selector.js"></script>
    <script type="text/javascript" src="/media/js/uniform/jquery.uniform.js"></script>
    <script type="text/javascript" src="/media/js/jquery.clear-on-focus.js"></script>
    
    <script type="text/javascript">
      $(document).ready(function(){  
        $(".searchbox").search();
        $("input, textarea, select, button").uniform();
    });
  </script>
  </head>

<body id="home">

  <div id ="page">
  
  <div id="content">
    
      <div id="header">
        <h1><a href="/">Democratica</a></h1>
        <p>Toda a informação sobre a Assembleia da República e os deputados.</p>
	    </div>
	    
	    <div id="main">
        <a class="box" href="/deputados/">
	        <h2>Quem são</h2>
	        <p>Nomes, notícias, twitter, estatísticas, governos....</p>
	      </a>
	      
	      <a class="box right" href="/dar/">
	        <h2>O que dizem</h2>
	        <p>As sessões parlamentares desde 1976.</p>
	      </a>
	    </div>
	    
      <ul id="navigation">
        <li><a href="/datasets/">Sobre</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Disclaimer</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Glossário</a></li>
      </ul>
  </div> <!-- /#content -->
  
  <div id="about">
    
    <h3 id="about-button"><span>O que é o Demo.cratica?</span></h3>

<!--    
    <div id="more-info">
      
      <h4>O que é o Democratica?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis pretium arcu sed lobortis. Aenean ultricies ipsum sed turpis facilisis adipiscing. Duis ac metus eget elit sodales venenatis. Maecenas felis nulla, placerat in convallis ut, ullamcorper ac elit. Suspendisse molestie lacinia risus vitae eleifend. Proin.</p>
      
      <h4>O que é o Democratica?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis pretium arcu sed lobortis. Aenean ultricies ipsum sed turpis facilisis adipiscing. Duis ac metus eget elit sodales venenatis. Maecenas felis nulla, placerat in convallis ut, ullamcorper ac elit. Suspendisse molestie lacinia risus vitae eleifend. Proin.</p>
      
      <h4>O que é o Democratica?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis pretium arcu sed lobortis. Aenean ultricies ipsum sed turpis facilisis adipiscing. Duis ac metus eget elit sodales venenatis. Maecenas felis nulla, placerat in convallis ut, ullamcorper ac elit. Suspendisse molestie lacinia risus vitae eleifend. Proin.</p>
      
      <h4>O que é o Democratica?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis pretium arcu sed lobortis. Aenean ultricies ipsum sed turpis facilisis adipiscing. Duis ac metus eget elit sodales venenatis. Maecenas felis nulla, placerat in convallis ut, ullamcorper ac elit. Suspendisse molestie lacinia risus vitae eleifend. Proin.</p>
    </div>
--> 
    
 </div> <!-- /#about-->
 
 </div> <!-- /#page-->
  
</body>
</html>
